mat-toolbar {
  color: white;

  .mat-icon {
    color: white;
  }

  span {
    color: white;
    padding-right: 40px;
  }
}

.page-content {
  padding: 0 0 16px;

  .datetime {
    width: 90vw;
    margin-top: 16px;
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
  }

  button {
    flex-shrink: 0;
  }

  button.accepted {
    color: white;
    border-color: #4cd964;
    background-color: #4cd964;
  }

  button.delivered {
    color: mediumseagreen;
    border-color: mediumseagreen;
  }

  button.inProgress {
    color: deepskyblue;
    border-color: deepskyblue;
  }

  button.waitingToBeAccepted {
    color: white;
    border-color: deepskyblue;
    background-color: deepskyblue;
  }

  button.returned {
    color: white;
    border-color: #e31587;
    background-color: #e31587;
  }

  button.missed {
    color: #e31587;
    border-color: #e31587;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.transaction-card {
  width: 90vw;
  margin-top: 16px;
  margin-left: 5vw;
  margin-right: 5vw;
}

mat-card img {
  width: 50%;
  margin: 10% 25%;
}

form mat-form-field {
  width: 100%;
  height: 100%;

  textarea {
    overflow: hidden;
  }
}

.spacer {
  flex: 1 1 auto;
}
