<ion-header *transloco="let t">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- FIXME: do not know why `routerLink=".."` does not work -->
      <ion-button routerLink="/settings" routerDirection="back">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ t('login') }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *transloco="let t">
  <ion-img class="numbers-logo" src="../../../../../assets/image/numbers.svg"></ion-img>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-list>
      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label position="floating">{{ t('email') }}</ion-label>
        <ion-input formControlName="email" type="email" autocomplete="email" inputmode="email" clearInput></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="key" slot="start"></ion-icon>
        <ion-label position="floating">{{ t('password') }}</ion-label>
        <ion-input formControlName="password" type="password" clearInput></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" [disabled]="!loginForm.valid" class="ion-padding" expand="block">{{ t('login') }}
    </ion-button>
  </form>
  <!-- FIXME: do not know why `routerLink="../sign-up"` does not work -->
  <ion-button [routerLink]="['/publishers', 'numbers-storage', 'sign-up']" class="ion-padding" expand="block">
    {{ t('signUp') }}</ion-button>
</ion-content>