<mat-toolbar color="primary" *transloco="let t">
  <button (click)="onBackButtonClick()" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{ t(isPreview ? 'preview' : 'sendPostCapture') }}</span>
</mat-toolbar>

<div *transloco="let t" class="page-content">
  <ng-container *ngIf="!isPreview">
    <form #form="ngForm" (ngSubmit)="preview()">
      <mat-card>
        <img mat-card-image [attr.src]="assetFileUrl$ | async" />
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>{{ t('.message') }}</mat-label>
            <textarea
              [(ngModel)]="previewCaption"
              name="caption"
              ngModel
              matInput
              cdkTextareaAutosize
              maxlength="300"
            ></textarea>
          </mat-form-field>
        </mat-card-content>
      </mat-card>

      <button
        class="send-button"
        mat-raised-button
        color="primary"
        type="submit"
      >
        {{ t('preview') }}
      </button>
    </form>
  </ng-container>

  <!-- preview -->

  <ng-container *ngIf="isPreview">
    <mat-card *ngIf="previewAsset$ | async; let asset">
      <mat-card-header>
        <img [attr.src]="ownerAvatar$ | async" mat-card-avatar />
        <mat-card-title>
          {{ asset.source_transaction.sender }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ asset.source_transaction.fulfilled_at | date: 'short' }}
        </mat-card-subtitle>
      </mat-card-header>
      <img [src]="asset.sharable_copy" mat-card-image />
      <mat-card-content *ngIf="asset.caption">
        <p class="caption mat-body">
          {{ asset.caption }}
        </p>
      </mat-card-content>
    </mat-card>

    <button
      (click)="send(previewCaption)"
      class="send-button"
      mat-raised-button
      color="primary"
    >
      <div class="send-button-wrapper">
        <div class="avatar"></div>
        <span>{{ contact$ | async }}</span>
        <div class="spacer"></div>
        <mat-icon>send</mat-icon>
      </div>
    </button>
  </ng-container>
</div>
