<ion-header *transloco="let t">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink=".." routerDirection="back">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ t('defaultInformationProvider') }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *transloco="let t">
  <ion-list>
    <ion-item lines="none">
      <ion-icon name="phone-portrait" slot="start"></ion-icon>
      <ion-label>{{ t('collectDeviceInfo') }}</ion-label>
      <ion-toggle [checked]="isDeviceInfoCollectionEnabled$ | async"
        (ionChange)="setDeviceInfoCollection($event.detail.checked)" slot="end"></ion-toggle>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="locate" slot="start"></ion-icon>
      <ion-label>{{ t('collectLocationInfo') }}</ion-label>
      <ion-toggle [checked]="isLocationInfoCollectionEnabled$ | async"
        (ionChange)="setLocationInfoCollection($event.detail.checked)" slot="end"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>