<mat-toolbar *transloco="let t">
  <button routerLink="../../" routerDirection="back" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{ t('proofDetails') }}</span>
  <span class="toolbar-spacer"></span>
  <button (click)="publish()" mat-icon-button>
    <mat-icon>publish</mat-icon>
  </button>
  <button (click)="remove()" mat-icon-button>
    <mat-icon>delete</mat-icon>
  </button>
</mat-toolbar>

<div *transloco="let t" class="page-content">
  <img [src]="base64Src$ | async">
  <mat-list>
    <mat-list-item *ngIf="(caption$ | async)">
      <mat-icon mat-list-icon>sticky_note_2</mat-icon>
      <div mat-line>{{ t('caption') }}</div>
      <div mat-line>{{ caption$ | async }}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>code</mat-icon>
      <div mat-line>{{ t('hash') }}</div>
      <div mat-line>{{ hash$ | async }}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>access_time</mat-icon>
      <div mat-line>{{ t('timestamp') }}</div>
      <div mat-line>{{ timestamp$ | async | date:'long' }}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>image</mat-icon>
      <div mat-line>{{ t('mimeType') }}</div>
      <div mat-line>{{ mimeType$ | async }}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>place</mat-icon>
      <div mat-line>{{ t('location') }}</div>
      <div mat-line>{{ 'location' }}</div>
    </mat-list-item>
    <div mat-subheader>{{ t('information') }}</div>
  </mat-list>
</div>

<!-- <ion-header *transloco="let t">

<ion-content *transloco="let t">
    <ion-list-header>
      <ion-label>
        <h2>{{ t('information') }}</h2>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-slides pager>
        <ion-slide>
          <ion-card class="slide-card"
            *ngFor="let providerWithInformationList of (providersWithImportantInformation$ | async)">
            <ion-card-header>
              <ion-card-title>{{ providerWithInformationList.provider }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list *ngFor="let information of providerWithInformationList.informationList">
                <ion-item>
                  <ion-label class="ion-text-wrap">
                    <h3>{{ information.name }}</h3>
                    <p>{{ information.value }}</p>
                  </ion-label>
                </ion-item>
              </ion-list>
              <section>
                <ion-button expand="block" [routerLink]="['/information', {hash: (hash$ | async)}]">{{ t('viewAll') }}
                </ion-button>
              </section>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-item>
    <ion-list-header>
      <ion-label>
        <h2>{{ t('signatures') }}</h2>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-slides pager>
        <ion-slide *ngFor="let signature of (signatures$ | async)">
          <ion-card class="slide-card">
            <ion-card-header>
              <ion-card-title>{{ signature.provider }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <ion-label class="ion-text-wrap">
                    <h3>{{ t('signature') }}</h3>
                    <p>{{ signature.signature }}</p>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="ion-text-wrap">
                    <h3>{{ t('publicKey') }}</h3>
                    <p class="multiline">{{ signature.publicKey }}</p>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-item>
  </ion-list>
</ion-content> -->