<mat-toolbar *transloco="let t">
  <button routerLink="../../" routerDirection="back" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{ t('proofDetails') }}</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button>
    <mat-icon>send</mat-icon>
  </button>
  <button (click)="publish()" mat-icon-button>
    <mat-icon>publish</mat-icon>
  </button>
  <button (click)="remove()" mat-icon-button>
    <mat-icon>delete</mat-icon>
  </button>
</mat-toolbar>

<div *transloco="let t" class="page-content">
  <img [src]="base64Src$ | async">
  <mat-list>
    <div mat-subheader>{{ t('information') }}</div>
    <mat-list-item *ngIf="(caption$ | async)">
      <mat-icon mat-list-icon>sticky_note_2</mat-icon>
      <div mat-line>{{ t('caption') }}</div>
      <div mat-line>{{ caption$ | async }}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>code</mat-icon>
      <div mat-line>{{ t('hash') }}</div>
      <div mat-line>{{ hash$ | async }}</div>
      <button *ngIf="(hash$ | async) as hash" (click)="copyToClipboard(hash)" mat-icon-button>
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>access_time</mat-icon>
      <div mat-line>{{ t('timestamp') }}</div>
      <div mat-line>{{ timestamp$ | async | date:'long' }}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>image</mat-icon>
      <div mat-line>{{ t('mimeType') }}</div>
      <div mat-line>{{ mimeType$ | async }}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>place</mat-icon>
      <div mat-line>{{ t('location') }}</div>
      <div mat-line>{{ location$ | async }}</div>
    </mat-list-item>
  </mat-list>
  <button [routerLink]="['information', {hash: (hash$ | async)}]" class="center" mat-stroked-button
    color="primary">{{ t('viewAll') }}</button>
  <mat-list>
    <div mat-subheader>{{ t('signature') }}</div>
    <mat-list-item>
      <mat-icon mat-list-icon>policy</mat-icon>
      <div mat-line>{{ t('signature') }}</div>
      <div mat-line>{{ (signature$ | async)?.signature }}</div>
      <button *ngIf="(signature$ | async)?.signature as signature" (click)="copyToClipboard(signature)" mat-icon-button>
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>lock</mat-icon>
      <div mat-line>{{ t('publicKey') }}</div>
      <div mat-line>{{ (signature$ | async)?.publicKey }}</div>
      <button *ngIf="(signature$ | async)?.publicKey as publicKey" (click)="copyToClipboard(publicKey)" mat-icon-button>
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>