mat-toolbar {
  color: white;

  .mat-icon {
    color: white;
  }

  span {
    color: white;
    padding-right: 40px;
  }
}

.page-content {
  padding-bottom: 16px;

  button.send-button {
    width: 90vw;
    margin-top: 16px;
    margin-left: 5vw;
    margin-right: 5vw;

    .send-button-wrapper {
      display: flex;
      align-items: center;

      .avatar {
        height: 32px;
        width: 32px;
        margin: 8px;
        border-radius: 50%;
        flex-shrink: 0;
        object-fit: cover;
        background-image: url('https://gravatar.com/avatar/8db683da3c728970bb776f6cc4048fd2?s=400&d=mp&r=x');
        background-size: cover;
      }
    }
  }
}

mat-card img {
  max-width: 100%;
  width: 100%;
}

form mat-form-field {
  width: 100%;
  height: 100%;

  textarea {
    overflow: hidden;
  }
}

.spacer {
  flex: 1 1 auto;
}
