<ion-content
  [fullscreen]="true"
  [style.--background]="'transparent'"
  *transloco="let t"
>
  <ng-container *ngIf="(mode$ | ngrxPush) === 'capture'">
    <div id="camera-flash-placeholder" (click)="focus($event)"></div>

    <mat-icon
      *ngIf="isFlashAvailable"
      class="flash-camera-button"
      (click)="enableTorch()"
    >
      {{ isFlashOn ? 'flash_on' : 'flash_off' }}
    </mat-icon>

    <div
      class="select-from-go-pro-camera-button"
      *ngIf="lastConnectedGoProDevice$ | ngrxPush"
      (click)="captureFromGoPro()"
    >
      GoPro
      <mat-icon> featured_video </mat-icon>
    </div>

    <mat-icon
      class="close-camera-button"
      (click)="leaveCustomCamera()"
      joyrideStep="highlightCustomCameraCloseButton"
      [title]="t('userGuide.cameraUsageGuide')"
      [text]="
        t('userGuide.afterTakingPhotosOrRecordingVideosCloseAndGoBackHome')
      "
    >
      close
    </mat-icon>

    <div class="camera-buttons-container">
      <div *ngIf="isFlashAvailable" class="zoom-slider">
        <ion-range
          (ionChange)="zoomFactorChange($event)"
          [disabled]="!canZoomInOut"
          [min]="minZoomFactor"
          [max]="maxZoomFactor"
          [value]="curZoomFactor"
          step="0.1"
        >
          <ion-icon slot="start" name="remove-outline"></ion-icon>
          <ion-icon slot="end" name="add-outline"></ion-icon>
        </ion-range>
      </div>

      <div class="main-buttons">
        <mat-icon class="temporarily-hidden" id="gallery-icon">
          video_collection
        </mat-icon>

        <circle-progress
          (click)="onPress()"
          [maxTime]="maxRecordTimeInMilliseconds"
          ngxLongPress2
          (onLongPress)="onLongPress()"
          (onLongPressing)="onLongPressing($event)"
          (onReleasePressing)="onReleasePressing()"
          [percent]="curRecordTimeInPercent"
          [radius]="38"
          [outerStrokeWidth]="6"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#F2F2F2'"
          [showTitle]="false"
          [showUnits]="false"
          [showSubtitle]="false"
          [animation]="false"
          [animationDuration]="0"
          joyrideStep="highlightCustomCameraCaptureButton"
          [title]="t('userGuide.cameraUsageGuide')"
          [text]="t('userGuide.tapToTakeAPhotoAndLongPressToRecordVideo')"
        ></circle-progress>

        <mat-icon
          (click)="flipCamera()"
          joyrideStep="highlightCustomCameraFlipButton"
          [title]="t('userGuide.cameraUsageGuide')"
          [text]="
            t('userGuide.flipTheCameraToSwitchBetweenFrontAndBackCameras')
          "
        >
          flip_camera_android
        </mat-icon>
      </div>
    </div>
  </ng-container>

  <!-- fab placed in the center of the content with a list on each side -->
  <ion-fab
    *ngIf="(mode$ | ngrxPush) === 'capture'"
    vertical="start"
    style="margin-top: 80px"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button size="small">
      {{
        cameraQuality === 'hq'
          ? t('customCamera.max')
          : t('customCamera.social')
      }}
    </ion-fab-button>

    <ion-fab-list side="bottom">
      <ion-fab-button (click)="setCameraQuality('hq')">
        {{ t('customCamera.max') }}
      </ion-fab-button>
      <ion-fab-button (click)="setCameraQuality('low')">
        {{ t('customCamera.social') }}
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ng-container *ngIf="(mode$ | ngrxPush) === 'pre-publish'">
    <app-pre-publish-mode
      [curCaptureFilePath]="curCaptureFilePath"
      [curCaptureMimeType]="curCaptureMimeType"
      [curCaptureSrc]="curCaptureSrc"
      (confirm)="confirmCurrentCapture()"
      (discard)="discardCurrentCapture()"
    ></app-pre-publish-mode>
  </ng-container>
</ion-content>
