$camera-header-height: calc(86px - env(safe-area-inset-top));
$camera-zoom-slider-height: calc(58px - env(safe-area-inset-bottom));
$camera-footer-height: calc(168px - env(safe-area-inset-bottom));
$camera-preview-height: calc(
  100% - #{$camera-header-height} - #{$camera-zoom-slider-height} - #{$camera-footer-height}
);

:host {
  background-color: transparent;
}

ion-content {
  --background: transparent;
}

.camera-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: white;
  // opacity: 0.8;

  .camera-header {
    height: $camera-header-height;
    background-color: rgba(0 0 0 / 0.5);
    padding-top: 16px;
    // opacity: 0.4;
  }

  .camera-preview {
    height: $camera-preview-height;
    // background-color: green;
    // opacity: 0.4;
  }

  ion-range.zoom-slider {
    height: $camera-zoom-slider-height;
    margin: 0 auto;
    width: 80vw;

    --bar-height: 8px;
    --bar-border-radius: 8px;
    --bar-background: rgba(0 0 0 / 0.5);
    --bar-background-active: white;
    --knob-background: white;
  }

  .camera-footer {
    height: $camera-footer-height;
    width: 100%;
    // background-color: blue;
    background-color: rgba(0 0 0 / 0.5);
    // opacity: 0.4;
    display: flex;
    flex-direction: column;

    .footer-camera-modes {
      width: 100%;
      height: 28px;
      margin: 16px 0 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .camera-mode-item {
        width: 68px;
        height: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 37px;
        margin: 0 8px;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        text-transform: uppercase;
        color: white;
      }

      .selected {
        color: black;
        background: white;
        transition: background-color 500ms linear;
      }
    }

    .story-mode-selected {
      transform: translateX(84px);
      transition: 0.3s ease-in-out;
      -webkit-transition: 0.3s ease-in-out;
    }

    .photo-mode-selected {
      transform: translateX(0);
      transition: 0.3s ease-in-out;
      -webkit-transition: 0.3s ease-in-out;
    }

    .gopro-mode-selected {
      transform: translateX(-84px);
      transition: 0.3s ease-in-out;
      -webkit-transition: 0.3s ease-in-out;
    }

    .footer-camera-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  }
}

mat-icon {
  color: #f2f2f2;
  font-size: 36px;
  height: 36px;
  width: 36px;
}

mat-icon.flash-camera-button {
  position: absolute;
  top: 16px;
  left: 16px;
}

mat-icon.camera-quality-button {
  position: absolute;
  top: 16px;
  left: 64px;
}

mat-icon.close-camera-button {
  position: absolute;
  top: 16px;
  right: 16px;
}

mat-icon.temporarily-hidden {
  visibility: hidden;
}

// mat-icon
.select-from-go-pro-camera-button {
  position: absolute;
  top: 16px;
  left: 16px;
  color: var(--ion-color-primary);
  display: flex;
  align-items: center;
  padding: 4px 8px;
  font-size: 22px;

  mat-icon {
    margin-left: 4px;
    font-size: 24px;
    height: 24px;
    width: 24px;
  }
}

@keyframes flash-camera-keyframes {
  from {
    background-color: white;
  }

  to {
    background-color: transparent;
  }
}

.flash-camera-animation {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: flash-camera-keyframes;
}
