<mat-toolbar *transloco="let t">
  <button (click)="onBackButtonClick()" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{ t(isPreview ? 'preview' : 'sendPostCapture') }}</span>
</mat-toolbar>

<div *transloco="let t" class="page-content">
  <ng-container *ngIf="!isPreview">
    <form #form="ngForm" (ngSubmit)="preview()">
      <mat-card *ngrxLet="mimeType$ as mimeType">
        <app-media
          *ngrxLet="assetFileUrl$ as assetFileUrl"
          mat-card-image
          [src]="assetFileUrl"
          [mimeType]="mimeType"
        ></app-media>
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>{{ t('.message') }}</mat-label>
            <textarea
              [(ngModel)]="message"
              name="caption"
              ngModel
              matInput
              cdkTextareaAutosize
              maxlength="300"
            ></textarea>
          </mat-form-field>
        </mat-card-content>
      </mat-card>

      <button
        class="send-button"
        mat-raised-button
        color="primary"
        type="submit"
      >
        {{ t('preview') }}
      </button>
    </form>
  </ng-container>

  <!-- preview -->

  <ng-container *ngIf="isPreview">
    <mat-card *ngrxLet="previewAsset$ as asset">
      <mat-card-header>
        <img
          decoding="async"
          loading="lazy"
          [attr.src]="
            (ownerAvatar$ | ngrxPush) || '/assets/images/avatar-placeholder.png'
          "
          mat-card-avatar
        />
        <mat-card-title>
          {{ asset.source_transaction?.sender }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ asset.source_transaction?.fulfilled_at | date: 'short' }}
        </mat-card-subtitle>
      </mat-card-header>
      <app-media
        *ngrxLet="mimeType$ as mimeType"
        [src]="asset.sharable_copy"
        [mimeType]="mimeType"
        mat-card-image
      ></app-media>
      <mat-card-content *ngIf="asset.caption">
        <p class="caption mat-body">
          {{ asset.caption }}
        </p>
      </mat-card-content>
    </mat-card>

    <button
      (click)="send()"
      class="send-button"
      mat-raised-button
      color="primary"
    >
      <div class="send-button-wrapper">
        <img
          decoding="async"
          loading="lazy"
          [attr.src]="
            (receiver$ | ngrxPush)?.contact_profile_picture_thumbnail ||
            '/assets/images/avatar-placeholder.png'
          "
          class="avatar"
        />
        <span>{{ (receiver$ | ngrxPush)?.contact_email }}</span>
        <div class="spacer"></div>
        <mat-icon>send</mat-icon>
      </div>
    </button>

    <div class="checkbox" *ngIf="!contactAlreadyExists">
      <ion-checkbox
        slot="start"
        [(ngModel)]="shouldCreateContact"
      ></ion-checkbox>
      <ion-label>{{ t('addTheReceiverToContacts') }}</ion-label>
    </div>
  </ng-container>
</div>
