<mat-toolbar *transloco="let t">
  <button routerLink=".." routerDirection="back" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{ t('Inbox') }}</span>
</mat-toolbar>
<mat-card *ngFor="let item of Inbox">
  <mat-grid-list cols="3" rowHeight="25px">
    <mat-grid-tile [colspan]="1" [rowspan]="4">
      <img src="https://angular.io/assets/images/logos/angular/shield-large.svg" alt="...">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div mat-line>{{item.file}}</div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div mat-line> {{item.updated | date}} </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <div mat-line>Send By {{item.name}}</div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <button mat-button color="accent">Ignore</button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <button mat-raised-button color="accent">Accept</button>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>