<ng-container *ngIf="postCapture$ | async as postCapture">
  <mat-card *transloco="let t">
    <mat-card-header>
      <div mat-card-avatar class="post-capture-avatar"></div>
      <mat-card-title class="title">
        {{ postCapture.source_transaction.sender }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ postCapture.source_transaction.fulfilled_at | date: 'short' }}
      </mat-card-subtitle>
      <span class="toolbar-spacer"></span>
      <button [hidden]="!sharable" (click)="openOptionsMenu()" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-card-header>
    <img
      #ratioImg
      class="fixed-ratio-image"
      [src]="postCapture.sharable_copy"
      mat-card-image
    />
    <mat-card-content>
      <p class="caption mat-body">
        {{ postCapture.caption }}
      </p>
    </mat-card-content>
  </mat-card>
</ng-container>
