<ion-header *transloco="let t">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink=".." routerDirection="back">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ t('general') }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *transloco="let t">
  <ion-list>
    <ion-item lines="none">
      <ion-icon name="language" slot="start"></ion-icon>
      <ion-label>{{ t('languages') }}</ion-label>
      <ion-select [ngModel]="currentLanguageKey$ | async" (ngModelChange)="setCurrentLanguage($event)">
        <ion-select-option *ngFor="let language of langauges | keyvalue" [value]="language.key">{{ language.value }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>