<mat-toolbar color="primary" *transloco="let t">
  <button routerLink=".." routerDirection="back" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{ t('contacts') }}</span>
</mat-toolbar>

<ion-content>
  <ion-list lines="none">
    <ion-item *ngFor="let contact of contacts$ | async; trackBy: trackContact">
      <ion-avatar slot="start">
        <img
          [src]="
            contact.contact_profile_picture_thumbnail ||
            '/assets/images/avatar-placeholder.png'
          "
        />
      </ion-avatar>
      <ion-label>{{ contact.contact_name || contact.contact_email }}</ion-label>
      <ion-button
        (click)="delete(contact)"
        color="dark"
        slot="end"
        fill="clear"
      >
        <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
