mat-toolbar {
  background: white;
}

.page-content {
  mat-list-item {
    height: initial;
    padding-top: 16px;
    padding-bottom: 16px;

    div[mat-line] {
      margin: 4px 0;
    }

    img[matListAvatar] {
      border-radius: 4px;
      width: calc(100vw / 3);
      height: calc(100vw / 5);
      max-width: 150px;
      max-height: 80px;
    }

    button {
      flex-shrink: 0;
    }

    button.accepted {
      color: green;
      border-color: green;
    }

    button.delivered {
      color: mediumseagreen;
      border-color: mediumseagreen;
    }

    button.returned {
      color: var(--ion-color-danger);
      border-color: var(--ion-color-danger);
    }
  }
}
