ion-card {
  height: 300px;
  display: flex;

  ion-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.page-content {
  @media (prefers-color-scheme: light) {
    background-color: var(--ion-color-primary-contrast);
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--capture-color-dark-background);
  }
}

mat-grid-list {
  margin: 8px;

  mat-grid-tile {
    div {
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 4px;

      ion-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      .missing {
        width: 60%;
        height: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .airdrop {
      background-color: #a0aaff;
    }

    .common {
      background-color: #cbd4db;
    }

    .special {
      background-color: #c5f4ed;
    }

    .rare {
      background-color: #ffeea9;
    }

    .legendary {
      background-color: #ffb1b1;
    }
  }
}
