mat-toolbar {
  color: white;

  .mat-icon {
    color: white;
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.collection-container {
  padding-left: 16px;
  padding-right: 16px;
}

.collection-general {
  height: 30vw;
  overflow: hidden;
  object-fit: cover;
  border-radius: 4px;
  background: #cecece;
}

.collection-rare {
  height: 30vw;
  overflow: hidden;
  object-fit: cover;
  border-radius: 4px;
  background: #fff6a8;
}

.collection-special {
  height: 30vw;
  overflow: hidden;
  object-fit: cover;
  border-radius: 4px;
  background: #ffaced;
}
