<mat-toolbar color="primary">
  <button routerLink=".." routerDirection="back" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
</mat-toolbar>
<div *ngrxLet="series$ as series" class="page-content">
  <ion-card>
    <ion-img
      [src]="
        series.cover_image || '/assets/images/series-cover-placeholder.png'
      "
    ></ion-img>
  </ion-card>
  <mat-grid-list cols="3" gutterSize="8px">
    <ng-container *ngFor="let collection of series.collections">
      <mat-grid-tile *ngFor="let asset of collection.assets">
        <div>
          <ion-img
            *ngIf="asset.collected"
            [routerLink]="['../details', { type: 'series', id: asset.id }]"
            [src]="asset.asset_file_thumbnail"
          ></ion-img>
        </div>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
</div>
