mat-toolbar {
  span {
    padding-right: 40px;
  }
}

.page-content {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

form {
  margin-top: 40px;
}

.submit-button {
  width: 100%;
}
