<ion-header *transloco="let t">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink=".." routerDirection="back">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ t('settings') }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *transloco="let t">
  <ion-list>
    <ion-list-header>{{ t('general') }}</ion-list-header>
    <ion-item>
      <ion-icon name="language" slot="start"></ion-icon>
      <ion-label>{{ t('languages') }}</ion-label>
      <ion-select [ngModel]="currentLanguageKey$ | async" (ngModelChange)="setCurrentLanguage($event)">
        <ion-select-option *ngFor="let language of langauges | keyvalue" [value]="language.key">{{ language.value }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-list-header>{{ t('defaultSignature') }}</ion-list-header>
    <ion-item>
      <ion-icon name="key" slot="start"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>{{ t('publicKey') }}</h2>
        <p>{{ publicKey$ | async }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="key" slot="start"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>{{ t('privateKey') }}</h2>
        <p>{{ privateKey$ | async }}</p>
      </ion-label>
    </ion-item>
    <ion-list-header>{{ t('about') }}</ion-list-header>
    <ion-item>
      <ion-icon name="information" slot="start"></ion-icon>
      <ion-label>
        <h2>{{ t('version') }}</h2>
        <p>{{ version$ | async }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>