<mat-toolbar *transloco="let t">
  <button routerLink=".." routerDirection="back" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{ t('settings') }}</span>
</mat-toolbar>

<div class="page-content">
  <mat-list *transloco="let t">
    <mat-list-item>
      <mat-icon mat-list-icon>language</mat-icon>
      <div mat-line>{{ t('languages') }}</div>
      <mat-select
        [value]="currentLanguageKey$ | async"
        (selectionChange)="setCurrentLanguage($event.value)"
      >
        <mat-option
          *ngFor="let language of langauges | keyvalue"
          [value]="language.key"
        >
          {{ language.value }}
        </mat-option>
      </mat-select>
    </mat-list-item>
  </mat-list>
</div>
