.card-container {
  h1 {
    margin: 16px auto 24px;
    color: white;
    text-align: center;
  }

  ion-list {
    background-color: #212121;

    ion-item {
      --border-color: #333;
      --background: #212121;
      --padding-start: 0;
      --inner-padding-end: 0;
    }
  }

  .card-action-buttons {
    margin: 8px auto;

    ion-col {
      padding: 0;
    }

    ion-button[fill='outline'] {
      margin-right: 8px;

      --color: white;
      --border-color: #6f6f6f;
      --border-width: 1px;
    }

    ion-button {
      --box-shadow: none;
    }
  }
}

.no-right-margin {
  margin-right: 0;
}
