<div *transloco="let t">
  <div
    *ngrxLet="
      asset_wallet_mainnet_num_balance$ as asset_wallet_mainnet_num_balance
    "
  >
    <h2 mat-dialog-title>{{ t('payment.confirmPayment') }}</h2>
    <ion-row style="border-bottom: groove">
      <ion-col>
        <ion-label>{{ t('payment.price') }}</ion-label>
      </ion-col>
      <ion-col align="end">
        <ion-label>{{ orderStatus.price | number: '1.2-2' }} NUM</ion-label>
      </ion-col>
    </ion-row>
    <ion-row style="border-bottom: groove">
      <ion-col>
        <ion-label>{{ t('payment.estimatedFee') }}</ion-label>
      </ion-col>
      <ion-col align="end">
        <ion-label>{{ orderStatus.fee | number: '1.2-2' }} NUM</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>{{ t('payment.totalCost') }}</ion-label>
      </ion-col>
      <ion-col align="end">
        <ion-label
          >{{ orderStatus.total_cost | number: '1.2-2' }} NUM</ion-label
        >
      </ion-col>
    </ion-row>
    <ion-row *ngIf="asset_wallet_mainnet_num_balance < num_charged">
      <ion-col style="padding-top: 0; padding-bottom: 0" align="end">
        <ion-label style="color: red; font-size: 15px">{{
          t('insufficientNum')
        }}</ion-label>
      </ion-col>
    </ion-row>
    <mat-dialog-actions align="end">
      <button mat-button (click)="cancel()">{{ t('cancel') }}</button>
      <button
        [disabled]="asset_wallet_mainnet_num_balance < num_charged"
        mat-button
        color="primary"
        (click)="ok()"
      >
        {{ t('ok') }}
      </button>
    </mat-dialog-actions>
  </div>
</div>
