<ng-container
  *ngFor="let group of capturesByDate$ | async | keyvalue: keyDescendingOrder"
>
  <div class="mat-title">{{ group.key }}</div>
  <mat-grid-list cols="3" gutterSize="8px">
    <mat-grid-tile
      *ngFor="let capture of group.value"
      [routerLink]="false ? undefined : ['capture-details', { id: capture.id }]"
      class="capture-item"
    >
      <div *ngIf="false" class="spinner-container">
        <ion-spinner></ion-spinner>
      </div>
      <ion-icon *ngIf="false" name="hourglass-outline" size="large"></ion-icon>
      <img [src]="capture.thumbnailUrl" />
    </mat-grid-tile>
  </mat-grid-list>
</ng-container>
