:host {
  display: block;
  margin-bottom: 128px;
}

div.mat-title {
  margin: 26px 0 0;
  font-size: medium;
}

.user-card {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  box-shadow: none;
  background-color: var(--capture-color-dark-background, white);
}

.user {
  background-color: azure;
  height: 20vw;
  width: 20vw;
}

.edit-icon {
  font-size: 16px;
}

app-avatar {
  width: 64px;
  height: 64px;
}

.capture-container {
  padding-left: 16px;
  padding-right: 16px;
}

app-capture-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
}
