<div
  *ngIf="(capturesByDate$ | async) === null"
  class="loading-spinner-container"
>
  <ion-spinner></ion-spinner>
</div>
<ng-container
  *ngFor="
    let group of capturesByDate$ | async | keyvalue: keyDescendingOrder;
    trackBy: trackCaptureGroupByDate
  "
>
  <div class="mat-title">{{ group.key }}</div>
  <mat-grid-list cols="3" gutterSize="8px">
    <mat-grid-tile
      *ngFor="let captureItem of group.value; trackBy: trackCaptureItem"
      [routerLink]="
        captureItem.isCollecting
          ? undefined
          : ['capture-details', { oldProofHash: captureItem.oldProofHash }]
      "
      class="capture-item"
    >
      <div
        *ngIf="captureItem.isCollecting"
        class="collecting-spinner-container"
      >
        <ion-spinner></ion-spinner>
      </div>
      <ion-icon
        *ngIf="captureItem.isCollecting"
        name="hourglass-outline"
        class="collecting"
      ></ion-icon>
      <ion-icon
        *ngIf="true"
        src="/assets/icon/media-id.svg"
        class="uploaded"
      ></ion-icon>
      <ion-icon
        *ngIf="true"
        src="/assets/icon/location.svg"
        class="located"
      ></ion-icon>
      <img [src]="captureItem.thumbnailUrl" />
    </mat-grid-tile>
  </mat-grid-list>
</ng-container>
