:host {
  margin-bottom: 128px;
}

div.mat-title {
  margin: 26px 0 0;
  font-size: medium;
}

mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

mat-card-title {
  text-align: center;
  margin-top: 32px;
}

mat-card-subtitle {
  margin-top: 12px !important; /* stylelint-disable-line declaration-no-important */
  text-align: center;
}

.user-card {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  box-shadow: none;
}

#user-card {
  background-color: var(--capture-color-dark-background, white);
}

.user {
  background-color: azure;
  height: 20vw;
  width: 20vw;
}

.edit-icon {
  font-size: 16px;
}

app-avatar {
  width: 64px;
  height: 64px;
}

.network-status {
  margin: 0;
  padding: 8px;
  text-align: center;
  color: darkgray;
  font-weight: 500;
  font-size: 0.9em;
  background-color: var(--ion-color-light);
}

.capture-container {
  padding: 32px 16px;
}

app-capture-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 16px;
}

.post-captures {
  overflow: auto;
  padding: 16px;

  mat-grid-tile {
    ion-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      overflow: hidden;
      border-radius: 16px;
    }

    ion-icon {
      color: white;
      z-index: 10;
      position: absolute;
      opacity: 0.3;
      font-size: 16px;
    }

    ion-icon.is-video {
      top: 8px;
      right: 8px;
    }

    ion-icon.is-from-store {
      top: 8px;
      left: 8px;
    }
  }
}
