ion-content {
  ion-slides {
    ion-slide {
      div {
        position: relative;
        width: 100%;

        button[mat-fab] {
          position: absolute;
          bottom: 16px;
          right: 16px;
        }
      }
    }
  }
}
