mat-toolbar {
  color: white;

  .mat-icon {
    color: white;
  }

  span {
    color: white;
    padding-right: 40px;
  }
}

// #A1 {
//   display:none;
// }

// #A2 {
//   display:none;
// }

// #A3 {
//   display:none;
// }

// #A4 {
//   display:none;
// }
