<mat-toolbar *transloco="let t">
  <button routerLink=".." routerDirection="back" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{ t('profile') }}</span>
</mat-toolbar>

<img class="numbers-logo" src="../../../assets/image/numbers.svg">

<div *transloco="let t" class="page-content">
  <mat-list>
    <mat-list-item>
      <mat-icon mat-list-icon>account_circle</mat-icon>
      <div mat-line>{{ t('userName') }}</div>
      <div mat-line> {{ userName$ | async }} </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>email</mat-icon>
      <div mat-line>{{ t('email') }}</div>
      <div mat-line> {{ email$ | async }} </div>
    </mat-list-item>
  </mat-list>

  <button (click)="logout()" class="expand" color="primary" mat-stroked-button>{{ t('logout') }}</button>
</div>