<mat-card *transloco="let t">
  <mat-card-header>
    <div mat-card-avatar class="post-capture-avatar"></div>
    <mat-card-title>{{ asset.owner }}</mat-card-title>
    <mat-card-subtitle>{{ asset.uploaded_at | date: 'short' }}</mat-card-subtitle>
    <span class="toolbar-spacer"></span>
  </mat-card-header>
  <img [src]="imageSrc" mat-card-image>
  <mat-card-content>
    <mat-list dense class="info-list" [class.info-list-show]="openMore">
      <mat-list-item>
        <mat-icon svgIcon="media-id" mat-list-icon></mat-icon>
        <div mat-line>
          <span>{{ t('mediaId') }}</span>
          <span class="info-list-content">{{ asset.id }}</span>
        </div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>access_time</mat-icon>
        <div mat-line>
          <span>{{ t('timestamp') }}</span>
          <span class="info-list-content">{{ (proof$ | async)?.timestamp | date:'medium' }}</span>
        </div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>place</mat-icon>
        <div mat-line>
          <span>{{ t('location') }}</span>
          <div mat-line>{{ (latitude$ | async) + ', ' + (longitude$ | async) }}</div>
        </div>
      </mat-list-item>
    </mat-list>
    <p class="caption-ellipsis mat-body" [class.caption-full]="openMore">{{ (caption$ | async)?.text }}</p>
  </mat-card-content>
  <mat-card-actions [align]="'end'">
    <button (click)="openMore = !openMore" mat-button>{{ t('viewAll') + '...' }}</button>
  </mat-card-actions>
</mat-card>