:host {
  display: block;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

mat-icon {
  color: #000  ;
}

mat-card img {
  max-width: initial;
  max-height: 50px;
}

mat-card-content {
  margin-bottom: 0;
}
mat-card-title {
  font-size: 16px !important;
}

.post-capture-avatar {
  background-image: url("https://gravatar.com/avatar/8db683da3c728970bb776f6cc4048fd2?s=400&d=mp&r=x");
  background-size: cover;
}

.caption-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.caption-full {
  overflow: visible;
  height: auto;
  text-overflow: initial;
  white-space: initial;
}

.info-list[dense] {
  display: none;
  .info-list-content {
    width: 70%;
    float: right;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  mat-list-item {
    height: 28px;
  }
}

.info-list-show[dense] {
  display: block;
}

.All_BTN {
  align-items: center;
  padding: 0px 30px;
  height: 24px;
  border: 1px solid #564DFC;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 13px;
}
