<mat-toolbar *transloco="let t">
  <button
    routerLink=".."
    routerDirection="back"
    mat-mini-fab
    class="capture-rebranded-button"
  >
    <mat-icon svgIcon="capture-rebrand-arrow-left"></mat-icon>
  </button>
  <div class="toolbar-spacer"></div>
  <ng-container *ngrxLet="activeDetailedCapture$ as activeDetailedCapture">
    <button
      *ngIf="activeDetailedCapture.id"
      (click)="openShareMenu()"
      mat-mini-fab
      class="capture-rebranded-button"
    >
      <mat-icon svgIcon="capture-rebrand-share"></mat-icon>
    </button>
  </ng-container>
  <!-- <button mat-mini-fab class="capture-rebranded-button">
    <mat-icon svgIcon="capture-rebrand-support"></mat-icon>
  </button> -->
  <button
    *ngIf="(isFromSeriesPage$ | ngrxPush) === false"
    (click)="openOptionsMenuEvenOffline()"
    mat-mini-fab
    class="capture-rebranded-button"
    joyrideStep="highlightDetailsPageOptionsMenu"
    [title]="t('userGuide.optionsMenu')"
    [text]="t('userGuide.clickTheOptionsMenuToUseNetworkActions')"
  >
    <mat-icon svgIcon="capture-rebrand-more-horiz"></mat-icon>
  </button>
</mat-toolbar>

<div class="content" *ngrxLet="detailedCaptures$ as detailedCaptures">
  <swiper
    *ngrxLet="initialSlideIndex$ as initialSlideIndex"
    [virtual]="true"
    [initialSlide]="initialSlideIndex"
    [resistanceRatio]="0"
    [observeSlideChildren]="true"
    [resizeObserver]="true"
    [observeParents]="true"
    (swiper)="onSwiperCreated($event)"
    (slideChange)="onSlidesChanged()"
    class="swiper"
  >
    <ng-template
      swiperSlide
      *ngFor="
        let detailedCapture of detailedCaptures;
        trackBy: trackDetailedCapture
      "
    >
      <div class="slide">
        <div *ngIf="isIframeHidden$ | ngrxPush" class="iframe-loading-spinner">
          <ion-spinner name="lines-sharp"></ion-spinner>
        </div>
        <div *ngIf="iframeUrlWithJWTToken$ | ngrxPush as iframeUrlWithJWTToken">
          <iframe
            [src]="iframeUrlWithJWTToken"
            [ngStyle]="iframeHiddenStyle$ | ngrxPush"
          ></iframe>
        </div>
      </div>
    </ng-template>
  </swiper>
</div>
