.toolbar-spacer {
  flex: 1 1 auto;
}

.content {
  height: 100%;
  overflow: auto;
}

.swiper {
  height: 100%;
  width: 100%;
}

.slide {
  height: 100%;
  overflow: auto;

  app-media {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  ion-item {
    --padding-start: 48px;
    --padding-end: 48px;
    --min-height: 0;

    ion-icon {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  ion-button {
    --box-shadow: 0;

    margin-bottom: 16px;
    color: white;
  }

  .text-center {
    text-align: center;
  }
}
