mat-toolbar {
  color: white;

  .mat-icon {
    color: white;
  }
}

img {
  height: 100px;
}

.title {
  color: white;
  margin-left: 40px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.page-content {
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

button.center {
  height: 36px;
  width: 186px;
  margin: auto;
  left: 0;
  bottom: 0;
  color: white;
  background-color: #564dfc;
}

.proof-image {
  width: 100%;
}

.mat-list-base .mat-list-item.mat-list-item-with-avatar {
  height: 40px;
  padding: 0 20px;
}
