<mat-toolbar color="primary" *transloco="let t">
  <button routerLink=".." routerDirection="back" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="title">{{ t('captureDetails') }}</span>
  <button (click)="openContactSelectionDialog()" mat-icon-button>
    <mat-icon>send</mat-icon>
  </button>
  <button (click)="openOptionsMenu()" mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<div *transloco="let t" class="page-content">
  <img class="proof-image" [src]="base64Src$ | async" />
  <mat-list>
    <mat-list-item>
      <mat-icon mat-list-icon>person</mat-icon>
      <div mat-line>{{ (asset$ | async)?.owner }}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>place</mat-icon>
      <div mat-line>
        {{ (latitude$ | async) + ', ' + (longitude$ | async) }}
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>access_time</mat-icon>
      <div mat-line>{{ timestamp$ | async | date: 'long' }}</div>
    </mat-list-item>
    <mat-list-item (click)="openDashboardLink()">
      <mat-icon svgIcon="media-id" mat-list-icon></mat-icon>
      <div mat-line>{{ (asset$ | async)?.id }}</div>
    </mat-list-item>
  </mat-list>
  <button
    routerLink="information"
    class="center"
    mat-stroked-button
    color="primary"
  >
    {{ t('viewAll') }}
  </button>
</div>
