mat-toolbar {
  background: white;

  span {
    margin-left: 40px;
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.page-content {
  padding-bottom: 16px;
}

button.center {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 25%;
  height: 50px;
}

.proof-image {
  width: 100%;
}

mat-list-item {
  height: 40px !important;
  padding: 0 20px !important;
}
