mat-toolbar {
  background: #564dfc;
  color: #ffffff;

  .mat-icon {
    color: #ffffff;
    margin-left: 10px;
  }

  span .title {
    color: #ffffff;
  }
}

.title {
  margin-left: 80px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.page-content {
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh; 
}

button.center {
  height: 36px;
  width: 186px;
  margin: auto;
  left: 0;
  bottom: 0;
  color:#fff;
  background-color: #564dfc;
}

.proof-image {
  width: 100%;
}

.mat-list-base .mat-list-item.mat-list-item-with-avatar {
  height: 40px;
  padding: 0 20px;
}
