<mat-toolbar *transloco="let t">
  <button routerLink=".." routerDirection="back" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{ t('informationDetails') }}</span>
</mat-toolbar>

<div class="page-content">
  <mat-list *transloco="let t">
    <div mat-subheader>{{ t('digitalAsset') }}</div>
    <mat-list-item>
      <mat-icon mat-list-icon>access_time</mat-icon>
      <div mat-line>{{ t('timestamp') }}</div>
      <div mat-line>{{ timestamp$ | async | date:'long' }}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>code</mat-icon>
      <div mat-line>{{ t('hash') }}</div>
      <div mat-line>{{ hash$ | async }}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>image</mat-icon>
      <div mat-line>{{ t('mimeType') }}</div>
      <div mat-line>{{ mimeType$ | async }}</div>
    </mat-list-item>

    <div *ngIf="facts$ | async" mat-subheader>{{ t('other') }}</div>
    <mat-list-item *ngFor="let fact of facts$ | async | keyvalue">
      <mat-icon mat-list-icon>information</mat-icon>
      <div mat-line>{{ fact.key }}</div>
      <div mat-line>{{ fact.value }}</div>
    </mat-list-item>

    <div mat-subheader>{{ t('signature') }}</div>
    <mat-list-item>
      <mat-icon mat-list-icon>policy</mat-icon>
      <div mat-line>{{ t('signature') }}</div>
      <div mat-line>{{ (signature$ | async)?.signature }}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>lock</mat-icon>
      <div mat-line>{{ t('publicKey') }}</div>
      <div mat-line>{{ (signature$ | async)?.publicKey }}</div>
    </mat-list-item>
  </mat-list>
</div>