<ion-content>
  <ion-grid>
    <ion-row>
      <div class="logo">
        <img slot="icon-only" src="../../../assets/Capture.svg" />
      </div>
    </ion-row>
    <ion-row class="inputs">
      <ion-col>
        <div class="input">
          <ion-input placeholder="Enter Email"></ion-input>
        </div>
        <div class="input">
          <ion-input placeholder="Enter Password"></ion-input>
        </div>
        <div class="input">
          <ion-input placeholder="Repeat Passwor"></ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        Bring Trust Into Data
      </ion-col>
    </ion-row>
    <ion-row class="buttons">
      <ion-col style="text-align: right;">
        <ion-button class="SIGNUP" routerLink="">
          <ion-title>SIGN UP</ion-title>
        </ion-button>
      </ion-col>
      <ion-col style="text-align: right;">
        <ion-button replaceUrl="true" routerLink="/login">
          ALREADY HAVE AN ACCOUNT?
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>