<ion-content *transloco="let t">
  <ion-grid>
    <ion-row>
      <div class="logo">
        <img slot="icon-only" src="../../../assets/Capture.svg" />
      </div>
    </ion-row>
    <ion-row class="inputs">
      <ion-col>
        <div class="input">
          <ion-input [placeholder]=" t('email') "></ion-input>
        </div>
        <div class="input">
          <ion-input [placeholder]=" t('password') "></ion-input>
        </div>
        <div class="input">
          <ion-input [placeholder]=" t('repeatPassword') "></ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-title>{{ t('bringTrustIntoData') }}</ion-title>
      </ion-col>
    </ion-row>
    <ion-row class="buttons">
      <ion-col style="text-align: right;">
        <ion-button class="SIGNUP" routerLink="">
          {{ t('signup') }}
        </ion-button>
      </ion-col>
      <ion-col style="text-align: right;">
        <ion-button replaceUrl="true" routerLink="/login">
          {{ t('alreadyHaveAnAccount') }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>