<div *transloco="let t" class="page-content">
  <div class="logo">
    <img src="../../../assets/image/capture.svg">
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
    <button type="submit" [disabled]="!form.valid" mat-flat-button color="primary">{{ t('signup') }}</button>
  </form>

  <button routerLink="/login" replaceUrl mat-stroked-button color="primary">{{ t('alreadyHaveAnAccount') }}</button>
</div>