<!-- Display content if the network is connected -->
<ng-container *ngIf="networkConnected$ | ngrxPush; else noNetworkText">
  <!-- Display iframe if the iframeUrl is available -->
  <ng-container *ngIf="iframeUrl$ | ngrxPush as iframeUrl">
    <iframe [src]="iframeUrl"></iframe>
  </ng-container>
  <!-- Display spinner while iframe is loading -->
  <ion-spinner *ngIf="!(iframeLoaded$ | ngrxPush)" name="lines-sharp">
  </ion-spinner>
</ng-container>

<!-- Display no network text when the network is not connected -->
<ng-template #noNetworkText>
  <div class="no-network-text">
    {{ 'message.networkNotConnected' | transloco }}
  </div>
</ng-template>
