$vertical-safe-area: calc(
  var(--ion-safe-area-bottom) + var(--ion-safe-area-top)
);

iframe {
  height: calc(100vh - #{$vertical-safe-area} - 66px);
  width: 92vw;
  margin: 0 4vw;
  border: none;
  background-color: black;
}

ion-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  scale: 1.5;
}

.no-network-text {
  font-size: 18px;
  text-align: center;
}
