<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink=".." routerDirection="back">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'proofDetails' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]="'data:image/*;base64,' + (rawBase64$ | async)"></ion-img>
  <ion-list lines="none">
    <ion-item>
      <ion-icon slot="start" name="reader"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>{{ 'caption' | translate }}</h2>
        <p>caption here</p>
      </ion-label>
      <ion-button slot="end" fill="clear" shape="round">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="information"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>{{ 'hash' | translate }}</h2>
        <p>{{ hash$ | async }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="image"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>{{ 'mimeType' | translate }}</h2>
        <p>{{ mimeType$ | async }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="time"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>{{ 'timestamp' | translate }}</h2>
        <p>{{ timestamp$ | async }}</p>
      </ion-label>
    </ion-item>
    <ion-list-header>
      <ion-label>
        <h2>{{ 'information' | translate }}</h2>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-slides pager>
        <ion-slide *ngFor="let providerWithInformationList of (providersWithInformationList$ | async)">
          <ion-card class="slide-card">
            <ion-card-header>
              <ion-card-title>{{ providerWithInformationList.provider }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item *ngFor="let information of providerWithInformationList.informationList">
                  <ion-label class="ion-text-wrap">
                    <h3>{{ information.name }}</h3>
                    <p>{{ information.value }}</p>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-item>
    <ion-list-header>
      <ion-label>
        <h2>{{ 'signatures' | translate }}</h2>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-slides pager>
        <ion-slide *ngFor="let signature of (signatures$ | async)">
          <ion-card class="slide-card">
            <ion-card-header>
              <ion-card-title>{{ signature.provider }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <ion-label class="ion-text-wrap">
                    <h3>{{ 'signature' | translate }}</h3>
                    <p>{{ signature.signature }}</p>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="ion-text-wrap">
                    <h3>{{ 'publicKey' | translate }}</h3>
                    <p class="multiline">{{ signature.publicKey }}</p>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-item>
  </ion-list>
</ion-content>