<ion-header *transloco="let t">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/storage']" routerDirection="back">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ t('proofDetails') }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="publish()">
        <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
      </ion-button>
      <ion-button (click)="remove()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *transloco="let t">
  <ion-img [src]="'data:image/*;base64,' + (rawBase64$ | async)"></ion-img>
  <ion-list lines="none">
    <ion-item>
      <ion-icon slot="start" name="reader"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>{{ t('caption') }}</h2>
        <p>{{ (caption$ | async) === '' ? '(' + ( t('nothingHere') ) + ')' : (caption$ | async) }}</p>
      </ion-label>
      <ion-button (click)="editCaption()" slot="end" fill="clear" shape="round">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="information"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>{{ t('hash') }}</h2>
        <p>{{ hash$ | async }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="image"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>{{ t('mimeType') }}</h2>
        <p>{{ mimeType$ | async }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="time"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>{{ t('timestamp') }}</h2>
        <p>{{ timestamp$ | async }}</p>
      </ion-label>
    </ion-item>
    <ion-list-header>
      <ion-label>
        <h2>{{ t('information') }}</h2>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-slides pager>
        <ion-slide>
          <ion-card class="slide-card"
            *ngFor="let providerWithInformationList of (providersWithImportantInformation$ | async)">
            <ion-card-header>
              <ion-card-title>{{ providerWithInformationList.provider }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list *ngFor="let information of providerWithInformationList.informationList">
                <ion-item>
                  <ion-label class="ion-text-wrap">
                    <h3>{{ information.name }}</h3>
                    <p>{{ information.value }}</p>
                  </ion-label>
                </ion-item>
              </ion-list>
              <section>
                <ion-button expand="block" [routerLink]="['/information', {hash: (hash$ | async)}]">View All
                </ion-button>
              </section>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-item>
    <ion-list-header>
      <ion-label>
        <h2>{{ t('signatures') }}</h2>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-slides pager>
        <ion-slide *ngFor="let signature of (signatures$ | async)">
          <ion-card class="slide-card">
            <ion-card-header>
              <ion-card-title>{{ signature.provider }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <ion-label class="ion-text-wrap">
                    <h3>{{ t('signature') }}</h3>
                    <p>{{ signature.signature }}</p>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="ion-text-wrap">
                    <h3>{{ t('publicKey') }}</h3>
                    <p class="multiline">{{ signature.publicKey }}</p>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-item>
  </ion-list>
</ion-content>