:host {
  background-color: lightgray;
}

.collecting-spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 9;

  ion-spinner {
    width: 48px;
    height: 48px;
    opacity: 0.5;

    --color: white;
  }
}

ion-icon {
  color: white;
  z-index: 10;
  position: absolute;
  opacity: 0.3;
}

ion-icon.collecting {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

ion-icon.uploaded {
  bottom: 9px;
  left: 5px;
  font-size: 13px;
}

ion-icon.located {
  bottom: 8px;
  left: 23px;
  font-size: 16px;
}

ion-icon.is-video {
  top: 8px;
  right: 8px;
  font-size: 16px;
}

.is-thumbnail-missing {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  font-size: 48px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
