<div *ngIf="isCollecting$ | async" class="collecting-spinner-container">
  <ion-spinner></ion-spinner>
</div>
<ion-icon
  *ngIf="isCollecting$ | async"
  name="hourglass-outline"
  class="collecting"
></ion-icon>
<ion-icon
  *ngIf="hasUploaded$ | async"
  src="/assets/images/media-id.svg"
  class="uploaded"
>
</ion-icon>
<ion-icon
  *ngIf="hasGeolocation$ | async"
  src="/assets/images/location.svg"
  class="located"
></ion-icon>
<ion-icon *ngIf="isVideo$ | async" name="videocam" class="is-video"></ion-icon>
<img
  *ngIf="thumbnailUrl$ | async as thumbnailUrl"
  loading="lazy"
  decoding="async"
  [src]="thumbnailUrl"
/>
