<div *ngIf="isCollecting$ | ngrxPush" class="collecting-spinner-container">
  <ion-spinner></ion-spinner>
</div>
<ion-icon
  *ngIf="isCollecting$ | ngrxPush"
  name="hourglass-outline"
  class="collecting"
></ion-icon>
<ion-icon
  *ngIf="hasUploaded$ | ngrxPush"
  src="/assets/images/media-id.svg"
  class="uploaded"
>
</ion-icon>
<ion-icon
  *ngIf="hasGeolocation$ | ngrxPush"
  src="/assets/images/location.svg"
  class="located"
></ion-icon>
<ion-icon
  *ngIf="isVideo$ | ngrxPush"
  name="videocam"
  class="is-video"
></ion-icon>
<img
  *ngIf="thumbnailUrl$ | ngrxPush as thumbnailUrl"
  loading="lazy"
  decoding="async"
  [src]="thumbnailUrl"
/>
