<mat-toolbar color="background" class="thin-upload-bar">
  <ng-container *ngIf="uploadingBarState$ | async as uploadingBarState">
    <span class="text spacer-text" *ngIf="uploadingBarState.spacer">{{
      uploadingBarState.text
    }}</span>
    <span class="text" *ngIf="!uploadingBarState.spacer">{{
      uploadingBarState.text
    }}</span>
    <span class="spacer" *ngIf="uploadingBarState.spacer">
      <mat-progress-bar
        *ngIf="uploadingBarState.showProgressBar"
        mode="indeterminate"
      ></mat-progress-bar>
    </span>
    <mat-icon *ngIf="uploadingBarState.showPauseButton" (click)="pause()"
      >pause</mat-icon
    >
    <mat-icon *ngIf="uploadingBarState.showResumeButton" (click)="resume()"
      >publish</mat-icon
    >
  </ng-container>
</mat-toolbar>
