.thin-upload-bar {
  min-height: 32px;
  height: 32px;
  justify-content: stretch;
  transition: all 1s;

  @media (prefers-color-scheme: dark) {
    background-color: #7e7e7e; //Dark

    .text {
      flex-grow: 1;
      font-size: 0.7em;
      margin-left: 10px;
      margin-right: 10px;
      color: white; //Dark
    }
  }

  @media (prefers-color-scheme: light) {
    background-color: gainsboro;

    .text {
      flex-grow: 1;
      font-size: 0.7em;
      margin-left: 10px;
      margin-right: 10px;
      color: darkgray;
    }
  }

  .spacer-text {
    flex-grow: 0;
  }

  mat-icon {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.spacer {
  flex: 1 1 auto;
}
