<ng-container
  *ngIf="{
    pendingTasks: pendingTasks$ | async,
    isPaused: isPaused$ | async,
    networkConnected: networkConnected$ | async
  } as uploadState"
>
  <mat-toolbar color="background" class="thin-upload-bar" *transloco="let t">
    <ng-container
      *ngIf="
        uploadState.pendingTasks > 0 && uploadState.networkConnected;
        else noSpacer
      "
    >
      <span class="text-with-spacer" *ngIf="!uploadState.isPaused">{{
        t('message.registeringPhotos', {
          photos: uploadState.pendingTasks
        })
      }}</span>
      <span class="text-with-spacer" *ngIf="uploadState.isPaused">{{
        t('message.registeringPhotosPaused', {
          photos: uploadState.pendingTasks
        })
      }}</span>
      <span class="spacer">
        <mat-progress-bar
          *ngIf="!uploadState.isPaused"
          mode="indeterminate"
        ></mat-progress-bar>
      </span>
      <mat-icon *ngIf="!uploadState.isPaused" (click)="pause()">pause</mat-icon>
      <mat-icon *ngIf="uploadState.isPaused" (click)="resume()"
        >publish</mat-icon
      >
    </ng-container>
    <ng-template #noSpacer>
      <span
        class="text-without-spacer"
        *ngIf="uploadState.pendingTasks === 0"
        >{{ t('message.allPhotosRegistered') }}</span
      >
      <span
        class="text-without-spacer"
        *ngIf="uploadState.pendingTasks > 0 && !uploadState.networkConnected"
        >{{ t('message.networkNotConnected') }}</span
      >
    </ng-template>
  </mat-toolbar>
</ng-container>
