<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink=".." routerDirection="back">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Numbers Storage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *transloco="let t">
  <ion-img class="numbers-logo" src="../../../../assets/image/numbers.svg"></ion-img>
  <ion-button *ngIf="(isEnabled$ | async) === false" routerLink="login" expand="block" class="ion-padding">
    {{ t('login') }}
  </ion-button>
  <ion-button *ngIf="isEnabled$ | async" (click)="logout()" expand="block" class="ion-padding">{{ t('logout') }}
  </ion-button>
</ion-content>