<mat-toolbar *transloco="let t">
  <app-capture-back-button></app-capture-back-button>
  <span>{{ t('inbox') }}</span>
</mat-toolbar>

<div *transloco="let t" class="page-content">
  <span
    *ngIf="
      (receivedTransactions$ | ngrxPush)?.length === 0 &&
      (isFetching$ | ngrxPush) === false
    "
    class="empty-inbox"
    >{{ t('emptyInbox') }}</span
  >
  <mat-list>
    <ng-container
      *ngFor="
        let postCapture of receivedTransactions$ | ngrxPush;
        last as isLast
      "
    >
      <mat-list-item>
        <img
          decoding="async"
          loading="lazy"
          matListAvatar
          [src]="postCapture.asset.asset_file_thumbnail"
        />
        <div mat-line>{{ postCapture.asset.id }}</div>
        <div mat-line>{{ t('sentFrom') + ' ' + postCapture.sender_name }}</div>
        <div mat-line>{{ postCapture.created_at | date: 'short' }}</div>
        <div class="action" mat-line>
          <button
            (click)="ignore(postCapture.id)"
            mat-stroked-button
            color="primary"
          >
            {{ t('ignore') }}
          </button>
          <button
            (click)="accept(postCapture.id)"
            mat-flat-button
            color="primary"
          >
            {{ t('accept') }}
          </button>
        </div>
      </mat-list-item>
      <mat-divider *ngIf="!isLast"></mat-divider>
    </ng-container>
  </mat-list>
</div>
