<app-header [headerTitle]="'capture'"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let proofWithRaw of proofsWithRaw$ | async"
        [routerLink]="['/proof', {hash: proofWithRaw.proof.hash}]" size="3" class="ion-no-padding">
        <ion-card>
          <ion-thumbnail>
            <ion-img [src]="'data:image/*;base64,' + proofWithRaw.rawBase64"></ion-img>
          </ion-thumbnail>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="capture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>