
.img-card {
  margin: calc(var(--ion-padding, 9px) / 3);
  width: 30vw;
}

.Title {
  color: #000;
}

.setTitle {
  display: flex;
  flex-direction: row;
  justify-self: start;
  padding-bottom: 10px;
  color: #000;
  margin: calc(var(--ion-padding, 9px) / 3);
}

.img-thumbnail {
  --size: calc(90vw / 3);
}

.select-thumbnail {
  --size: 90vw;

  height: 60vw;
}

.date-card-title {
  text-align: start;
  color: #000;
  margin-left: 5vw;
  padding-bottom: 10px;
  padding-top: 10px;
}

.select-card {
  width: 90vw;
  margin-bottom: 0;
  margin-top: 0;
}
