<mat-toolbar *transloco="let t">
  <button [routerLink]="isPreview ? null : '..'" [routerDirection]="isPreview ? null : 'back'"
    (click)="isPreview ? isPreview = false : null" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{ t(isPreview ? 'previewPostCapture' : 'sendPostCapture') }}</span>
</mat-toolbar>

<div *transloco="let t" class="page-content">

  <ng-container *ngIf="!isPreview">
    <form #form="ngForm">
      <mat-card class="example-card">
        <img mat-card-image [src]="base64Src$ | async">
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>{{ t('caption') }}</mat-label>
            <textarea name="caption" ngModel matInput cdkTextareaAutosize></textarea>
          </mat-form-field>
        </mat-card-content>
      </mat-card>

      <button (click)="preview(form.value.caption)" class="send-button" mat-raised-button
        color="primary">{{ t('preview') }}</button>
    </form>
  </ng-container>

  <!-- preview -->

  <ng-container *ngIf="isPreview">
    <app-post-capture-card [userName]="userName$ | async" [proof]="proof$ | async" [imageSrc]="base64Src$ | async">
    </app-post-capture-card>

    <button (click)="send()" class="send-button" mat-raised-button color="primary">
      <div class="send-button-wrapper">
        <div class="avatar"></div>
        <span>{{ contact$ | async }}</span>
        <div class="spacer"></div>
        <mat-icon>send</mat-icon>
      </div>
    </button>
  </ng-container>
</div>