<ion-header *transloco="let t">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="../../../" routerDirection="back">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ t('informationDetails') }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *transloco="let t">
  <ion-item>
    <ion-slide>
      <ion-card class="slide-card">
        <ion-card-header>
          <ion-card-title>{{ t('location') }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list lines="none" *ngFor="let information of (locationInformation$ | async)">
            <ion-item>
              <ion-label class="ion-text-wrap">
                <h3>{{ information.name }}</h3>
                <p>{{ information.value }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-item>
  <ion-item>
    <ion-slide>
      <ion-card class="slide-card">
        <ion-card-header>
          <ion-card-title>{{ t('other') }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list lines="none" *ngFor="let information of (otherInformation$ | async)">
            <ion-item>
              <ion-label class="ion-text-wrap">
                <h3>{{ information.name }}</h3>
                <p>{{ information.value }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-item>
  <ion-item>
    <ion-slide>
      <ion-card class="slide-card">
        <ion-card-header>
          <ion-card-title>{{ t('device') }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list lines="none" *ngFor="let information of (deviceInformation$ | async)">
            <ion-item>
              <ion-label class="ion-text-wrap">
                <h3>{{ information.name }}</h3>
                <p>{{ information.value }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-item>
</ion-content>