<mat-toolbar *transloco="let t">
  <app-capture-back-button></app-capture-back-button>
  <span>{{ t('transactionDetails') }}</span>
</mat-toolbar>
<div *transloco="let t" class="page-content">
  <h4 class="datetime">
    {{ (transaction$ | ngrxPush)?.created_at | date: 'short' }}
  </h4>
  <mat-card class="transaction-card">
    <mat-card-content class="row wrap-text">
      <mat-label>
        {{ t('digitalAsset') }} ID:
        {{ (transaction$ | ngrxPush)?.asset?.id }}
      </mat-label>
    </mat-card-content>
    <img
      decoding="async"
      loading="lazy"
      [src]="(transaction$ | ngrxPush)?.asset?.asset_file_thumbnail"
    />
    <mat-card-content class="column wrap-text">
      <mat-label>
        {{ t('sentFrom') }}: {{ (transaction$ | ngrxPush)?.sender_name }}
      </mat-label>
      <mat-label>
        {{ t('receiver') }}: {{ (transaction$ | ngrxPush)?.receiver_email }}
      </mat-label>
    </mat-card-content>
    <mat-card-content class="column">
      <button
        *ngrxLet="status$ as status"
        [class]="status"
        mat-stroked-button
        disableRipple
      >
        {{ t('transactionState.' + status) }}
      </button>
    </mat-card-content>
  </mat-card>
</div>
