.page-content {
  padding: 0 16px 16px;

  button.capture-rebranded-button {
    margin: 16 4px;
    width: 40px;
    background: #ffffff40 !important; /* stylelint-disable-line declaration-no-important */
    color: white !important; /* stylelint-disable-line declaration-no-important */
    backdrop-filter: blur(4px);
    box-shadow: none;
  }

  .logo {
    width: 50%;
    margin: 0 auto;
    flex: 1;
    height: 35vh;
    justify-content: center;
    align-items: center;
    background-color: white;
    /*  stylelint-disable-next-line declaration-colon-newline-after  */
    mask: url('/assets/images/icons/capture-rebrand-wordmark.svg') no-repeat
      center;
  }

  button {
    width: 100%;
    margin: 8px 0 0;
  }
}
