<div *transloco="let t" class="page-content">
  <button
    routerLink=".."
    routerDirection="back"
    mat-mini-fab
    class="capture-rebranded-button"
  >
    <mat-icon>close</mat-icon>
  </button>

  <div class="logo"></div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
    <button
      type="submit"
      [disabled]="!form.valid"
      mat-flat-button
      color="primary"
    >
      {{ t('login') }}
    </button>
  </form>

  <button
    (click)="forgotPassword()"
    class="expand"
    color="primary"
    mat-stroked-button
  >
    {{ t('forgotPassword') }}
  </button>

  <button
    routerLink="/signup"
    [replaceUrl]="true"
    mat-stroked-button
    color="primary"
  >
    {{ t('createAnAccount') }}
  </button>

  <button
    *ngIf="showResendEmailButton"
    (click)="resendEmail()"
    mat-stroked-button
    color="primary"
  >
    {{ t('resendActivationEmail') }}
  </button>
</div>
