.page-content {
  padding: 0 16px 16px;

  .logo {
    width: 50%;
    margin: 0 auto;
    flex: 1;
    height: 35vh;
    justify-content: center;
    align-items: center;
    background-color: white;
    /*  stylelint-disable-next-line declaration-colon-newline-after  */
    mask: url('/assets/images/icons/capture-rebrand-wordmark.svg') no-repeat
      center;
  }

  button {
    width: 100%;
    margin: 8px 0 0;
  }
}
