.page-content {
  padding: 0 16px 16px;

  .logo {
    width: 100%;
    display: flex;
    flex: 1;
    height: 35vh;
    justify-content: center;
    align-items: center;
    background-color: var(--ion-color-primary);
    mask: url('/assets/images/capture.svg') no-repeat center;
  }

  button {
    width: 100%;
    margin: 8px 0 0;
  }
}
