:host {
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  object-position: center;
  background-color: turquoise;
  border-radius: 50%;
}

input {
  display: none;
}

mat-icon {
  color: black;
}
