<ng-container *ngIf="networkConnected$ | ngrxPush; else offline">
  <ion-img
    *ngIf="avatar$ | ngrxPush as avatar; else placeholder"
    [src]="avatar"
    (click)="selectAvatar()"
  ></ion-img>
  <ng-template #placeholder>
    <mat-icon *ngIf="editable" (click)="selectAvatar()"> add_a_photo </mat-icon>
    <mat-icon *ngIf="!editable" class="view-only"> account_circle </mat-icon>
  </ng-template>

  <input
    #input
    (change)="uploadAvatar($event)"
    type="file"
    accept="image/jpeg"
  />
</ng-container>
<ng-template #offline>
  <mat-icon>cloud_off</mat-icon>
</ng-template>
