<mat-nav-list *transloco="let t">
  <a
    *ngIf="data.proof.diaBackendAssetId && (asset$ | async)?.sharable_copy"
    mat-list-item
    (click)="openLink(options.Share)"
  >
    <span mat-line>{{ t('message.shareCapture') }}</span>
  </a>
  <a
    *ngIf="data.proof.diaBackendAssetId"
    mat-list-item
    (click)="openLink(options.Transfer)"
  >
    <span mat-line>{{ t('message.transferCapture') }}</span>
  </a>
  <a mat-list-item (click)="openLink(options.Delete)">
    <span mat-line>{{ t('message.deleteCapture') }}</span>
  </a>
  <a
    *ngIf="data.proof.diaBackendAssetId"
    mat-list-item
    (click)="openLink(options.ViewCertificate)"
  >
    <span mat-line>{{ t('message.viewBlockchainCertificate') }}</span>
  </a>
</mat-nav-list>
