<ion-header *transloco="let t">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink=".." routerDirection="back">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ t('defaultSignature') }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *transloco="let t">
  <ion-list>
    <ion-item lines="none">
      <ion-icon name="key" slot="start"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>{{ t('publicKey') }}</h2>
        <p>{{ publicKey$ | async }}</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="key" slot="start"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>{{ t('privateKey') }}</h2>
        <p>{{ privateKey$ | async }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>