:host {
  justify-content: start;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

mat-list {
  overflow: scroll;
  padding-top: 0;
}

.mat-list-base .mat-list-item.mat-list-item-with-avatar {
  height: 40px;
  padding: 0 20px;
}
