<ion-content *transloco="let t">
  <ion-grid>
    <ion-row>
      <div class="logo">
        <img slot="icon-only" src="../../../assets/Capture.svg" />
      </div>
    </ion-row>
    <div class="input_msg">{{ t('message.PleaseCheckYourEmail') }}</div>
    <ion-row class="inputs">
      <ion-col>
        <div class="input">
          <ion-input [placeholder]=" t('email') "></ion-input>
        </div>
        <div class="input">
          <ion-input [placeholder]=" t('password') "></ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="input_C">
        <ion-title>{{ t('bringTrustIntoData') }}</ion-title>
      </ion-col>
    </ion-row>
    <ion-row class="buttons">
      <ion-col class="input_R">
        <ion-button routerLink="">
          {{ t('login') }}
        </ion-button>
      </ion-col>
      <ion-col class="input_R">
        <ion-button replaceUrl="true" routerLink="/signup">
          {{ t('createAnAccount') }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>