<mat-toolbar color="primary" *transloco="let t">
  <button routerLink=".." routerDirection="back" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{ t('privacy') }}</span>
</mat-toolbar>

<div class="page-content">
  <mat-list *transloco="let t">
    <mat-list-item>
      <mat-icon mat-list-icon>perm_device_information</mat-icon>
      <div mat-line>{{ t('collectDeviceInfo') }}</div>
      <mat-slide-toggle [checked]="isDeviceInfoCollectionEnabled$ | async"
        (change)="setDeviceInfoCollection($event.checked)"></mat-slide-toggle>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>my_location</mat-icon>
      <div mat-line>{{ t('collectLocationInfo') }}</div>
      <mat-slide-toggle [checked]="isLocationInfoCollectionEnabled$ | async"
        (change)="setLocationInfoCollection($event.checked)"></mat-slide-toggle>
    </mat-list-item>
  </mat-list>
</div>