<mat-toolbar color="primary" *transloco="let t">
  <button routerLink=".." routerDirection="back" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="title">{{ t('captureDetails') }}</span>
  <button
    (click)="openContactSelectionDialog()"
    mat-icon-button
    *ngIf="isRegistered$ | async"
  >
    <mat-icon>send</mat-icon>
  </button>
  <button (click)="openOptionsMenu()" mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<div *transloco="let t" class="page-content">
  <mat-list class="content">
    <img class="proof-image" [attr.src]="imageSrc$ | async" />
    <mat-list-item>
      <mat-icon mat-list-icon>person</mat-icon>
      <div mat-line>{{ email$ | async }}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>place</mat-icon>
      <div mat-line>
        {{ location$ | async }}
      </div>
    </mat-list-item>
    <ng-container *ngIf="proof$ | async as proof">
      <mat-list-item>
        <mat-icon mat-list-icon>access_time</mat-icon>
        <div mat-line>
          {{ proof.truth.timestamp | date: 'long' }}
        </div>
      </mat-list-item>
      <mat-list-item (click)="openCertificate()">
        <mat-icon svgIcon="media-id" mat-list-icon></mat-icon>
        <div mat-line>
          <ng-container *ngIf="isRegistered$ | async; else notRegistered">
            {{ proof.diaBackendAssetId }}
          </ng-container>
          <ng-template #notRegistered>{{ t('notRegistered') }}</ng-template>
        </div>
      </mat-list-item>
    </ng-container>
    <mat-list-item>
      <button
        routerLink="information"
        class="center"
        mat-stroked-button
        color="primary"
      >
        {{ t('moreInformation') }}
      </button>
    </mat-list-item>
  </mat-list>
</div>
