<mat-spinner diameter="30" *ngIf="isFetching$ | ngrxPush"></mat-spinner>

<div *ngIf="!(isFetching$ | ngrxPush)">
  <div *transloco="let t">
    <mat-list *ngrxLet="networkActionOrders$ as networkActionOrders">
      <h5 id="empty-orders-msg" *ngIf="networkActionOrders.length === 0">
        {{ t('noNetworkActionOrdersFound') }}
      </h5>
      <ng-container
        *ngFor="
          let order of networkActionOrders;
          last as isLast;
          trackBy: trackNetworkActionOrderHistoryRecords
        "
      >
        <mat-list-item
          [routerLink]="[
            'network-action-order-details',
            { order_id: order.order_id_text }
          ]"
        >
          <img
            decoding="async"
            loading="lazy"
            matListAvatar
            [src]="
              (order.assetThumbnailUrl$ | ngrxPush) ||
              '/assets/images/image-placeholder.png'
            "
          />
          <div mat-line>{{ order.network_app_name_text }}</div>
          <div mat-line>{{ order.asset_id_text }}</div>
          <div mat-line>{{ order['Created Date'] | date: 'short' }}</div>
          <button [class]="order.status_text" mat-stroked-button disableRipple>
            {{ t('networkActionOrderState.' + order.status_text) }}
          </button>
        </mat-list-item>
        <mat-divider *ngIf="!isLast"></mat-divider>
      </ng-container>
    </mat-list>
  </div>
</div>
