<ng-container *ngIf="(networkConnected$ | async) === false; else bubbleIframe">
  <mat-toolbar>
    <app-capture-back-button></app-capture-back-button>
    <span>{{ 'dataPolicy' | transloco }}</span>
  </mat-toolbar>
  <div class="no-network-text">
    {{ 'message.networkNotConnected' | transloco }}
  </div>
</ng-container>

<ng-template #bubbleIframe>
  <iframe
    [src]="dataPolicyUrl | safeResourceUrl"
    class="bubble-iframe"
  ></iframe>
  <ion-spinner
    *ngIf="(iframeLoaded$ | async) !== true"
    name="lines-sharp"
  ></ion-spinner>
</ng-template>
