mat-toolbar {
  color: white;

  .mat-icon {
    color: white;
  }

  span {
    color: white;
    padding-right: 40px;
  }
}

.numbers-logo {
  display: block;
  width: 50%;
  margin: 10vw auto;
}

button.expand {
  margin-bottom: 8px;
}
