mat-toolbar {
  span {
    padding-right: 40px;
  }
}

.avatar {
  @media (prefers-color-scheme: dark) {
    background-color: var(--capture-color-dark-background);
  }

  @media (prefers-color-scheme: light) {
    background-color: white;
  }
}

app-avatar {
  width: 64px;
  height: 64px;
  margin: 16px auto;
}

.page-content {
  @media (prefers-color-scheme: dark) {
    background-color: var(--capture-color-dark-background);

    mat-icon {
      color: white;
    }

    div[mat-line] {
      color: white;
    }

    button.expand {
      margin-bottom: 8px;
      color: white;
    }
  }

  @media (prefers-color-scheme: light) {
    background-color: white;

    mat-icon {
      color: black;
    }

    div[mat-line] {
      color: black;
    }

    button.expand {
      margin-bottom: 8px;
    }
  }
}
