<mat-toolbar *transloco="let t">
  <button routerLink=".." routerDirection="back" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{ t('profile') }}</span>
</mat-toolbar>
<div class="avatar">
  <app-avatar></app-avatar>
</div>
<div *transloco="let t" class="page-content">
  <mat-list>
    <mat-list-item>
      <ion-icon mat-list-icon src="/assets/images/num-icon.svg"></ion-icon>
      <div mat-line>NUM {{ t('balance') }}</div>
      <div mat-line>
        ERC20
        <a (click)="openNUMTransactionHistory('erc20')">{{
          t('numTransactionHistory')
        }}</a>
      </div>
      <div class="num-balance">
        <ng-container *ngIf="networkConnected$ | ngrxPush; else balanceOffline">
          <ng-container
            *ngIf="!(isLoadingBalance$ | ngrxPush); else balanceLoading"
          >
            $ {{ ethNumBalance$ | ngrxPush | number: '1.2-2' }}
          </ng-container>
        </ng-container>
        <ng-template #balanceOffline> --offline-- </ng-template>
        <ng-template #balanceLoading>
          <mat-spinner diameter="30"></mat-spinner>
        </ng-template>
      </div>
    </mat-list-item>
    <mat-list-item>
      <ion-icon mat-list-icon src="/assets/images/num-icon.svg"></ion-icon>
      <div mat-line>NUM {{ t('balance') }}</div>
      <div mat-line>
        BEP20
        <a (click)="openNUMTransactionHistory('bep20')">{{
          t('numTransactionHistory')
        }}</a>
      </div>
      <div class="num-balance">
        <ng-container *ngIf="networkConnected$ | ngrxPush; else balanceOffline">
          <ng-container
            *ngIf="!(isLoadingBalance$ | ngrxPush); else balanceLoading"
          >
            $ {{ bscNumBalance$ | ngrxPush | number: '1.2-2' }}
          </ng-container>
        </ng-container>
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>account_circle</mat-icon>
      <div mat-line>{{ t('username') }}</div>
      <div mat-line>{{ username$ | ngrxPush }}</div>
      <button (click)="editUsername()" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>contact_phone</mat-icon>
      <div mat-line>{{ t('verification.phoneVerification') }}</div>
      <div
        mat-line
        *ngIf="
          phoneVerified$ | ngrxPush as phoneVerified;
          else phoneNotVerifiedTxt
        "
      >
        {{ t('verification.verified') }}
      </div>
      <ng-template #phoneNotVerifiedTxt>
        <div mat-line (click)="phoneVerification()">
          {{ t('verification.clickToVerify') }}
        </div>
      </ng-template>
      <button mat-icon-button>
        <mat-icon
          *ngIf="
            phoneVerified$ | ngrxPush as phoneVerified;
            else phoneNotVerifiedBtn
          "
          class="success-icon"
          >check_circle</mat-icon
        >
        <ng-template #phoneNotVerifiedBtn>
          <mat-icon class="warn-icon">error</mat-icon>
        </ng-template>
      </button>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>contact_mail</mat-icon>
      <div mat-line>{{ t('verification.emailVerification') }}</div>
      <div
        mat-line
        *ngIf="
          emailVerified$ | ngrxPush as emailVerified;
          else emailNotVerifiedTxt
        "
      >
        {{ t('verification.verified') }}
      </div>
      <ng-template #emailNotVerifiedTxt>
        <div mat-line (click)="emailVerification()">
          {{ t('verification.clickToVerify') }}
        </div>
      </ng-template>
      <button mat-icon-button>
        <mat-icon
          *ngIf="
            emailVerified$ | ngrxPush as emailVerified;
            else emailNotVerifiedBtn
          "
          class="success-icon"
          >check_circle</mat-icon
        >
        <ng-template #emailNotVerifiedBtn>
          <mat-icon class="warn-icon">error</mat-icon>
        </ng-template>
      </button>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>email</mat-icon>
      <div mat-line>{{ t('email') }}</div>
      <div mat-line>{{ email$ | ngrxPush }}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>lock</mat-icon>
      <div mat-line>{{ t('walletAddress') }}</div>
      <div mat-line>{{ publicKey$ | ngrxPush }}</div>
      <button
        *ngIf="publicKey$ | ngrxPush as publicKey"
        (click)="copyToClipboard(publicKey)"
        mat-icon-button
      >
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
  <button
    (click)="onImportIntegrityWallet()"
    class="expand"
    color="primary"
    mat-stroked-button
  >
    {{ t('importIntegrityWallet') }}
  </button>
  <button
    (click)="exportPrivateKey()"
    class="expand"
    color="primary"
    mat-stroked-button
  >
    {{ t('exportPrivateKey') }}
  </button>
  <button (click)="logout()" class="expand" color="primary" mat-stroked-button>
    {{ t('logout') }}
  </button>
</div>
