<mat-toolbar color="primary" *transloco="let t">
  <button routerLink=".." routerDirection="back" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{ t('profile') }}</span>
</mat-toolbar>
<app-avatar></app-avatar>
<div *transloco="let t" class="page-content">
  <mat-list>
    <mat-list-item>
      <mat-icon mat-list-icon>account_circle</mat-icon>
      <div mat-line>{{ t('username') }}</div>
      <div mat-line>{{ username$ | ngrxPush }}</div>
      <button (click)="editUsername()" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>contact_phone</mat-icon>
      <div mat-line>{{ t('verification.phoneVerification') }}</div>
      <div
        mat-line
        *ngIf="
          phoneVerified$ | ngrxPush as phoneVerified;
          else phoneNotVerifiedTxt
        "
      >
        {{ t('verification.verified') }}
      </div>
      <ng-template #phoneNotVerifiedTxt>
        <div mat-line (click)="phoneVerification()">
          {{ t('verification.clickToVerify') }}
        </div>
      </ng-template>
      <button mat-icon-button>
        <mat-icon
          *ngIf="
            phoneVerified$ | ngrxPush as phoneVerified;
            else phoneNotVerifiedBtn
          "
          class="success-icon"
          >check_circle</mat-icon
        >
        <ng-template #phoneNotVerifiedBtn>
          <mat-icon class="warn-icon">error</mat-icon>
        </ng-template>
      </button>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>contact_mail</mat-icon>
      <div mat-line>{{ t('verification.emailVerification') }}</div>
      <div
        mat-line
        *ngIf="
          emailVerified$ | ngrxPush as emailVerified;
          else emailNotVerifiedTxt
        "
      >
        {{ t('verification.verified') }}
      </div>
      <ng-template #emailNotVerifiedTxt>
        <div mat-line (click)="emailVerification()">
          {{ t('verification.clickToVerify') }}
        </div>
      </ng-template>
      <button mat-icon-button>
        <mat-icon
          *ngIf="
            emailVerified$ | ngrxPush as emailVerified;
            else emailNotVerifiedBtn
          "
          class="success-icon"
          >check_circle</mat-icon
        >
        <ng-template #emailNotVerifiedBtn>
          <mat-icon class="warn-icon">error</mat-icon>
        </ng-template>
      </button>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>email</mat-icon>
      <div mat-line>{{ t('email') }}</div>
      <div mat-line>{{ email$ | ngrxPush }}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>lock</mat-icon>
      <div mat-line>{{ t('publicKey') }}</div>
      <div mat-line>{{ publicKey$ | ngrxPush }}</div>
      <button
        *ngIf="publicKey$ | ngrxPush as publicKey"
        (click)="copyToClipboard(publicKey)"
        mat-icon-button
      >
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>vpn_key</mat-icon>
      <div mat-line>{{ t('privateKey') }}</div>
      <div mat-line>{{ privateKey$ | ngrxPush }}</div>
      <button
        *ngIf="privateKey$ | ngrxPush as privateKey"
        (click)="copyToClipboard(privateKey)"
        mat-icon-button
      >
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
  <button (click)="logout()" class="expand" color="primary" mat-stroked-button>
    {{ t('logout') }}
  </button>
</div>
