mat-toolbar {
  span {
    padding-right: 40px;
  }
}

app-avatar {
  width: 64px;
  height: 64px;
  margin: 16px auto;
}

.page-content {
  button.expand {
    margin-bottom: 8px;
  }

  .success-icon {
    color: var(--noir-success);
  }

  .warn-icon {
    color: var(--noir-warn);
  }

  .num-balance {
    margin-right: 8px;
  }
}
