mat-toolbar {
  span {
    padding-right: 40px;
  }
}

ion-select {
  width: auto;
}

ion-content {
  @media (prefers-color-scheme: light) {
    --ion-background-color: var(--ion-color-primary-contrast);
  }

  @media (prefers-color-scheme: dark) {
    --ion-background-color: var(--capture-color-dark-background);
  }
}
