<mat-toolbar *transloco="let t">
  <app-capture-back-button></app-capture-back-button>
  <span (click)="onSettingsToolbarClicked()">{{ t('settings.settings') }}</span>
</mat-toolbar>

<ion-content *transloco="let t">
  <ion-list>
    <ion-item lines="inset">
      <ion-label>{{ t('languages') }}</ion-label>
      <ion-select
        [value]="currentLanguageKey$ | ngrxPush"
        (ionChange)="setCurrentLanguage($event)"
        slot="end"
      >
        <ion-select-option
          *ngFor="let language of langauges | keyvalue"
          [value]="language.key"
        >
          {{ language.value }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{ t('collectDeviceInfo') }}</ion-label>
      <ion-toggle
        [checked]="isDeviceInfoCollectionEnabled$ | ngrxPush"
        (ionChange)="setDeviceInfoCollection($event)"
        slot="end"
      ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>{{ t('collectLocationInfo') }}</ion-label>
      <ion-toggle
        color="primary"
        [checked]="isLocationInfoCollectionEnabled$ | ngrxPush"
        (ionChange)="setLocationInfoCollection($event)"
        slot="end"
      ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        {{ t('customCamera.saveToDeviceGalleryAlert.header') }}
        <p>{{ t('customCamera.saveToDeviceGalleryAlert.messsage') }}</p>
      </ion-label>
      <ion-toggle
        color="primary"
        [checked]="isSaveToCameraRollEnabled$ | ngrxPush"
        (ionChange)="setShouldSaveToCameraRoll($event)"
        slot="end"
      ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>{{ t('version') }}</ion-label>
      <ion-text slot="end"> {{ version$ | ngrxPush }} </ion-text>
    </ion-item>
    <ion-item>
      <ion-label>{{ t('contactUs') }}</ion-label>
      <ion-text slot="end">
        <a href="mailto:service@numbersprotocol.io">
          service@numbersprotocol.io
        </a>
      </ion-text>
    </ion-item>

    <ion-item
      *ngIf="showHiddenOption"
      [routerLink]="['/', 'settings', 'go-pro']"
    >
      <ion-label>GoPro</ion-label>
    </ion-item>

    <ion-item
      *ngIf="showHiddenOption"
      [routerLink]="['/', 'settings', 'user-guide']"
    >
      <ion-label>User Guide Preferences</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>{{ email$ | async }}</ion-label>
      <ion-icon
        [name]="emailVerifiedIcon$ | async"
        [color]="emailVerifiedIconColor$ | async"
        (click)="emailVerification()"
        slot="end"
      ></ion-icon>
    </ion-item>
    <ion-item (click)="confirmDelete()">
      <ion-label color="primary">{{ 'delete' | transloco }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-modal id="backup-private-key-modal" #modal>
    <ng-template>
      <ion-card>
        <ion-card-content>
          <div class="backup-modal-warning-text">
            {{ t('settings.pleasePressThePrivateKeyBelowToCopy') }}
          </div>

          <ion-item button (click)="copyPrivateKeyToClipboard()">
            <ion-label>
              {{ privateKeyTruncated$ | async }}
            </ion-label>
            <ion-icon name="copy-outline" slot="end"></ion-icon>
          </ion-item>

          <ion-button
            expand="block"
            fill="clear"
            (click)="modal.dismiss(); this.deleteAccount()"
          >
            {{ t('settings.iHaveCopiedMyPrivateKey') }}
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ion-modal>
</ion-content>
