<mat-toolbar color="primary" *transloco="let t">
  <button routerLink=".." routerDirection="back" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{ t('settings') }}</span>
</mat-toolbar>

<ion-content *transloco="let t">
  <ion-list lines="none">
    <ion-item>
      <ion-icon name="language" slot="start"></ion-icon>
      <ion-label>{{ t('languages') }}</ion-label>
      <ion-select
        [value]="currentLanguageKey$ | async"
        (ionChange)="setCurrentLanguage($event)"
        slot="end"
      >
        <ion-select-option
          *ngFor="let language of langauges | keyvalue"
          [value]="language.key"
        >
          {{ language.value }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name="bug" slot="start"></ion-icon>
      <ion-label>{{ t('errorReport') }}</ion-label>
      <ion-toggle
        [checked]="errorReportEnabled$ | async"
        (ionChange)="setErrorReportEnabled($event)"
        slot="end"
      ></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
