mat-sidenav-container {
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  width: 60%;
}

mat-sidenav-content {
  overflow: hidden;
}

mat-toolbar {
  background: #564dfc;
  color: #ffffff;

  .mat-icon {
    color: #ffffff;
  }

  span {
    color: #ffffff;
    padding-right: 40px;
  }
}

.tab-content-capture {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 128px;

  div.mat-title {
    margin: 26px 0 0 0;
    font-size: larger;
  }

  .square-image-tile {
    border-radius: 4px;
    background-position: center center;
    background-size: cover;
  }

  app-post-capture-card {
    width: 100%;
    margin: 8px auto;
  }
}

.tab-content-post {
  margin-bottom: 128px;

  div.mat-title {
    margin-top: 16px;
    padding: 16px;
  }

  .square-image-tile {
    border-radius: 4px;
    background-position: center center;
    background-size: cover;
  }

  app-post-capture-card {
    width: 100%;
  }
}

button[mat-fab] {
  z-index: 999;
  position: fixed;
  bottom: 16px;
  right: 16px;
}
