<mat-toolbar color="primary" *transloco="let t">
  <button routerLink=".." routerDirection="back" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{ t('activity') }}</span>
</mat-toolbar>

<div *transloco="let t" class="page-content">
  <mat-list>
    <ng-container
      *ngFor="let activity of activitiesWithStatus$ | async; last as isLast"
    >
      <mat-list-item
        [routerLink]="['transaction-details', { detail: 'activity' }]"
        [state]="activity"
      >
        <img matListAvatar [src]="activity.asset.asset_file_thumbnail" />
        <div mat-line>{{ activity.asset.id }}</div>
        <div mat-line>{{ activity.created_at | date: 'short' }}</div>
        <button [class]="activity.status" mat-stroked-button disableRipple>
          {{ t(activity.status) }}
        </button>
      </mat-list-item>
      <mat-divider *ngIf="!isLast"></mat-divider>
    </ng-container>
  </mat-list>
</div>
