<mat-toolbar *transloco="let t">
  <app-capture-back-button></app-capture-back-button>
  <span>{{ t('networkActions') }}</span>
</mat-toolbar>

<div class="page-content">
  <ion-card>
    <ion-card-header>
      <div class="header-text-small">
        <div class="header-title-small">
          {{ 'actions.whatAreNetworkActions' | transloco }}
        </div>
        <div class="header-subtitle-small">
          {{ 'actions.everythingYouNeedToKnow' | transloco }}
        </div>
      </div>
      <ion-button shape="round" routerLink="what-are-actions">
        {{ 'actions.view' | transloco }}
      </ion-button>
    </ion-card-header>
  </ion-card>

  <ng-container *ngFor="let action of actions$ | ngrxPush">
    <ion-card (click)="performAction(action)">
      <ion-card-header>
        <div class="header-text">
          <div class="header-title">{{ action.title_text }}</div>
          <div class="header-subtitle">{{ action.description_text }}</div>
        </div>
        <div class="header-price">{{ action.action_cost_number }} NUM</div>
      </ion-card-header>

      <ion-img [src]="action.banner_image_url_text"></ion-img>
    </ion-card>
  </ng-container>
</div>
