mat-toolbar {
  span {
    padding-right: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: white;
  }
}

.page-content {
  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  ion-card {
    border-radius: 8px;
    margin: 24px 16px;
  }

  ion-card-header {
    display: flex;
    justify-content: space-between;

    .header-text {
      flex: 1;
      margin-right: 8px;

      .header-title {
        color: white;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
      }

      .header-subtitle {
        margin-top: 4px;
        margin-bottom: 16px;
        color: #9e9e9e;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
      }
    }

    .header-price {
      max-width: 120px;
      color: white;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
    }

    .header-text-small {
      .header-title-small {
        color: white;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
      }

      .header-subtitle-small {
        margin-top: 8px;
        color: #ffffff80;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
      }
    }
  }

  ion-card-subtitle {
    color: white;
    font-size: 16px;
  }

  ion-img {
    aspect-ratio: 2/1;
  }

  ion-icon.numbers-token {
    color: var(--ion-color-primary-contrast);
  }
}
