<mat-sidenav-container *transloco="let t">
  <mat-sidenav #sidenav mode="over" autoFocus="false">
    <mat-toolbar color="primary">
      <button (click)="sidenav.toggle()" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>{{ username$ | async }}</span>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item>
        <a routerLink="/profile" (click)="sidenav.close()" mat-list-item>{{
          t('profile')
        }}</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/settings" (click)="sidenav.close()" mat-list-item>{{
          t('settings')
        }}</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/privacy" (click)="sidenav.close()" mat-list-item>{{
          t('privacy')
        }}</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/about" (click)="sidenav.close()" mat-list-item>{{
          t('about')
        }}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button (click)="sidenav.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-spacer"></span>
      <button routerLink="transaction" mat-icon-button>
        <mat-icon>history</mat-icon>
      </button>
      <button routerLink="inbox" mat-icon-button>
        <mat-icon
          matBadge="&#8288;"
          [matBadgeHidden]="
            (inboxCount$ | async) === null || (inboxCount$ | async) === 0
          "
          matBadgeSize="small"
          matBadgeColor="warn"
        >
          all_inbox</mat-icon
        >
      </button>
    </mat-toolbar>
    <mat-tab-group
      (selectedTabChange)="onTapChanged($event)"
      mat-align-tabs="center"
      backgroundColor="primary"
    >
      <mat-tab label="Capture">
        <app-upload-bar></app-upload-bar>
        <app-capture-tab></app-capture-tab>
      </mat-tab>
      <mat-tab label="PostCapture">
        <div class="tab-content-post">
          <app-post-capture-card
            *ngFor="let postCapture of postCaptures$ | async"
            [transaction]="postCapture"
          >
          </app-post-capture-card>
        </div>
      </mat-tab>
    </mat-tab-group>

    <ion-fab class="capture-fab">
      <ion-fab-button (click)="capture()">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </mat-sidenav-content>
</mat-sidenav-container>
