mat-sidenav-container {
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  width: 60%;
}

mat-sidenav-content {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.camera-tab-icon {
  height: 24px;
  width: 24px;
  color: white;
}

mat-tab-group {
  flex-grow: 1;
  min-height: 0;
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
:host ::ng-deep .mat-tab-body-wrapper {
  flex-grow: 1;
}

app-capture-tab {
  position: relative;
}
