mat-sidenav-container {
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  width: 60%;
}

mat-tab {
  height: 100%;
  background-color: brown;
  display: flex;
}

mat-tab-bady {
  height: 100%;
  background-color: yellow;
  display: flex;
}

mat-sidenav-content {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.camera-tab-button {
  height: 48px;
  width: 48px;
}

.camera-tab-icon {
  height: 24px;
  width: 24px;
  color: white;
}

#tab-group {
  height: calc(100% - 90px);
}

#tab-group mat-tab-body {
  flex-grow: 1;
}
