mat-sidenav-container {
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  width: 60%;
}

mat-sidenav-content {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.tab-content-post {
  margin-bottom: 128px;

  div.mat-title {
    margin-top: 16px;
    padding: 16px;
  }

  .square-image-tile {
    border-radius: 4px;
    background-position: center center;
    background-size: cover;
  }

  app-post-capture-card {
    width: 100%;
  }
}

.capture-fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
}
