<div class="segments" [ngSwitch]="categories">
  <ion-segment mode="ios" [(ngModel)]="categories">
    <ion-segment-button value="photo" checked>
      <ion-icon src="/assets/icon/apps.svg" class="segment"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="series">
      <ion-icon src="/assets/icon/series.svg" class="segment"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <p *ngIf="(networkConnected$ | async) === false" class="network-status">
    {{ 'message.networkNotConnected' | transloco }}
  </p>
  <div class="post-captures" *ngSwitchCase="'photo'">
    <mat-grid-list cols="3" gutterSize="8px">
      <mat-grid-tile
        *ngFor="
          let postCapture of postCaptures$ | async;
          trackBy: trackPostCapture
        "
        [routerLink]="['post-capture-details', { id: postCapture.id }]"
      >
        <ion-img [src]="postCapture.asset_file_thumbnail"></ion-img>
        <mat-icon class="from-store">shopping_bag</mat-icon>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="series" *ngSwitchCase="'series'">
    <ion-card
      *ngFor="let series of seriesList$ | async"
      [routerLink]="['series', { id: series.id }]"
    >
      <ion-img
        [src]="
          series.cover_image || '/assets/image/series-cover-placeholder.png'
        "
      ></ion-img>
    </ion-card>
  </div>
</div>
