:host {
  display: block;
  padding: 8px;
  height: 100%;
}

ion-segment {
  width: 80%;
  margin: 0 auto 16px;
  flex-shrink: 0;
}

.segment-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.post-captures {
  overflow: auto;
}

mat-grid-tile {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 4px;
  }
}

.series-tab-icon {
  height: 40px;
}

.tab-content-post {
  height: 100%;
}
