:host {
  display: block;
  padding: 8px;
}

mat-grid-tile {
  ion-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 4px;
  }

  ion-icon {
    color: white;
    z-index: 10;
  }

  ion-icon.located {
    position: absolute;
    bottom: 9px;
    left: 5px;
    font-size: 13px;
    opacity: 30%;
  }
}
