<div *ngIf="networkConnected$ | async" class="tab-content-post" #scrollingBlock>
  <div class="segment-background">
    <ion-segment mode="ios" [(ngModel)]="categories" scrollable>
      <ion-segment-button value="Photo" checked>
        <ion-icon
          src="/assets/icon/apps.svg"
          class="series-tab-icon"
        ></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="Series">
        <ion-icon
          src="/assets/icon/series.svg"
          class="series-tab-icon"
        ></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="categories" class="sub-content">
    <div *ngSwitchCase="'Photo'">
      <mat-grid-list
        *ngIf="networkConnected$ | async"
        cols="3"
        gutterSize="8px"
      >
        <mat-grid-tile
          *ngFor="
            let postCapture of postCaptures$ | async;
            trackBy: trackPostCapture
          "
          [routerLink]="['post-capture-details', { id: postCapture.id }]"
        >
          <img [src]="postCapture.thumbnailUrl" />
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="series-wrapper" *ngSwitchCase="'Series'">
      <app-series-card></app-series-card>
      <app-series-card></app-series-card>
      <app-series-card></app-series-card>
    </div>
  </div>
</div>
