<div class="segments" [ngSwitch]="categories" *transloco="let t">
  <ion-segment mode="ios" [(ngModel)]="categories">
    <ion-segment-button
      value="photo"
      checked
      joyrideStep="highlightImageView"
      [title]="t('userGuide.galleryView')"
      [text]="t('userGuide.browseInGalleryView')"
    >
      <ion-icon src="/assets/images/apps.svg" class="segment"></ion-icon>
    </ion-segment-button>
    <ion-segment-button
      value="series"
      joyrideStep="highlightCollectionView"
      [title]="t('userGuide.collectionView')"
      [text]="t('userGuide.browseYourCollections')"
    >
      <ion-icon src="/assets/images/series.svg" class="segment"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <p *ngIf="(networkConnected$ | ngrxPush) === false" class="network-status">
    {{ 'message.networkNotConnected' | transloco }}
  </p>
  <div class="post-captures" *ngSwitchCase="'photo'">
    <mat-grid-list cols="3" gutterSize="8px">
      <mat-grid-tile
        *ngFor="
          let postCapture of postCaptures$ | ngrxPush;
          trackBy: trackPostCapture
        "
        [routerLink]="['details', { type: 'post-capture', id: postCapture.id }]"
      >
        <ng-container *ngIf="postCapture.asset_file_mime_type as mimeType">
          <ion-icon
            *ngIf="mimeType | startsWith: 'video'"
            name="videocam"
            class="is-video"
          ></ion-icon>
        </ng-container>
        <ion-icon
          *ngIf="postCapture.source_type === 'store'"
          name="storefront"
          class="is-from-store"
        ></ion-icon>
        <ion-img [src]="postCapture.asset_file_thumbnail"></ion-img>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="series" *ngSwitchCase="'series'">
    <ion-card
      *ngFor="let series of collectedSeriesList$ | ngrxPush"
      [routerLink]="['series', { id: series.id }]"
    >
      <ion-img
        [src]="
          series.cover_image || '/assets/images/series-cover-placeholder.png'
        "
      ></ion-img>
    </ion-card>
  </div>
</div>
