:host {
  display: block;
  height: 100%;
}

.network-status {
  margin: 0;
  padding: 8px;
  text-align: center;
  background-color: var(--ion-color-light);
  color: darkgray;
  font-weight: 500;
  font-size: 0.9em;
}

.segments {
  display: flex;
  padding: 8px;
  flex-direction: column;
  height: 100%;
}

ion-segment {
  width: 80%;
  margin: 0 auto 16px;
  flex-shrink: 0;
}

.post-captures {
  overflow: auto;
}

mat-grid-tile {
  ion-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 4px;
  }
}

.series-tab-icon {
  height: 40px;
}

.tab-content-post {
  height: 100%;
}

mat-icon {
  color: white;
  z-index: 10;
}

mat-icon.uploaded {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 20px;
  opacity: 90%;
}
