<mat-toolbar color="primary" *transloco="let t">
  <app-capture-back-button></app-capture-back-button>
  <span>GoPro Setup</span>
</mat-toolbar>

<ion-content>
  <ion-list>
    <ion-button
      expand="block"
      [disabled]="bluetoothIsScanning"
      (click)="scanForBluetoothDevices()"
      class="scan-for-bluetooth-devices-btn"
    >
      {{ bluetoothIsScanning ? 'Scanning' : 'Scan for bluetooth devices' }}
    </ion-button>

    <ng-container *ngIf="bluetoothScanResults.length > 0">
      <ion-item *ngFor="let scanResult of bluetoothScanResults">
        <ion-label>
          <h2>{{ scanResult.device.name }}</h2>
          <p class="device-id-text">{{ scanResult.device.deviceId }}</p>
        </ion-label>

        <ion-button
          *ngIf="
            scanResult.device.deviceId ===
            bluetoothConnectedDevice?.device?.deviceId
          "
          (click)="disconnectFromBluetoothDevice(scanResult)"
          color="danger"
          slot="end"
        >
          Disconnect
        </ion-button>

        <ion-button
          *ngIf="
            scanResult.device.deviceId !==
            bluetoothConnectedDevice?.device?.deviceId
          "
          (click)="connectToBluetoothDevice(scanResult)"
          slot="end"
          class="connect-to-bluetooth-device-btn"
        >
          Connect
        </ion-button>
      </ion-item>
    </ng-container>

    <div class="spacer"></div>

    <ng-container
      *ngIf="bluetoothConnectedDevice"
      class="connected-bluetooth-device-container"
    >
      <ion-list-header>
        <h4>
          CONNECTED TO:
          {{ bluetoothConnectedDevice.device.name }}
          ✅
        </h4>
      </ion-list-header>

      <ion-item detail="true" (click)="showFilesOnGoPro()">
        <ion-label>Show files on go pro</ion-label>
      </ion-item>
    </ng-container>

    <div class="spacer-bottom"></div>
  </ion-list>
</ion-content>
