<div class="action-buttons">
  <button (click)="onDiscard()" class="back-button" mat-mini-fab>
    <mat-icon>arrow_back</mat-icon>
  </button>

  <button
    (click)="onConfirm()"
    class="confirm-button"
    mat-flat-button
    *ngIf="(isProcessingImage$ | ngrxPush) === false"
  >
    {{ 'customCamera.confirmCapture' | transloco }}
  </button>
</div>

<div class="preview">
  <app-media
    *ngIf="isVideo$ | ngrxPush"
    [src]="curCaptureSrc$ | ngrxPush"
    [mimeType]="curCaptureMimeType$ | ngrxPush"
  ></app-media>

  <div
    *ngIf="curImageBase64$ | ngrxPush as curImageBase64"
    class="image-editor-container"
  >
    <pintura-editor
      #pinturaEditor
      [src]="curImageBase64"
      [options]="pinturaEditorOptions"
      (processstart)="handleEditorProcessStart()"
      (processabort)="handleEditorProcessAbort()"
      (processerror)="handelEditorProcessError()"
      (process)="handleEditorProcess($event)"
    ></pintura-editor>
  </div>

  <div class="image-editor-custom-buttons">
    <button
      (click)="applyBlackAndWhiteFilter()"
      class="back-button"
      mat-mini-fab
    >
      <mat-icon
        class="black-and-white-filter-button"
        svgIcon="capture-rebrand-camera-auto-enhance"
      ></mat-icon>
    </button>
  </div>
</div>

<div class="footer" *ngIf="isVideo$ | ngrxPush"></div>
