<div class="wrapper" *ngIf="isLoading$ | ngrxPush">
  <div class="loading-spinner-container">
    <ion-spinner></ion-spinner>
  </div>
</div>
<ng-container *ngrxLet="src$ as src">
  <img
    decoding="async"
    loading="lazy"
    *ngIf="isImage$ | ngrxPush"
    [src]="src"
    (load)="onImageLoaded()"
  />

  <!-- Plays video with Android Native Player -->
  <ng-container *ngIf="(playWithAndroidNativePlayer$ | async) === true">
    <preview-video [id]="previewVideoId" #previewVideo></preview-video>
  </ng-container>

  <!-- Plays video with HTML video tag -->
  <ng-container *ngIf="(playWithAndroidNativePlayer$ | async) === false">
    <video
      *ngIf="isVideo$ | ngrxPush"
      [src]="src"
      autoplay
      [muted]="'muted'"
      playsinline
      (loadeddata)="onVideoLoaded()"
    ></video>
  </ng-container>
</ng-container>
