.no-network-text {
  font-size: 18px;
  text-align: center;
}

.iframe-loading-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  ion-spinner {
    width: 48px;
    height: 48px;
  }
}

.bubble-iframe {
  background-color: black;
  width: 100vw;
  /*  stylelint-disable-next-line declaration-colon-newline-after  */
  height: calc(
    100vh - var(--ion-safe-area-bottom) - var(--ion-safe-area-top) - 48px
  );
  border: 0;
}
