<div
  *ngIf="(networkConnected$ | ngrxPush) === false; else bubbleIframe"
  class="no-network-text"
>
  {{ 'message.networkNotConnected' | transloco }}
</div>

<div *ngIf="isIframeHidden$ | ngrxPush" class="iframe-loading-spinner">
  <ion-spinner name="lines-sharp"></ion-spinner>
</div>

<ng-template #bubbleIframe>
  <div
    *ngIf="
      bubbleIframeUrlWithCachedJWTToke$
        | ngrxPush as bubbleIframeUrlWithCachedJWTToken
    "
  >
    <iframe
      #exploreIframe
      [src]="bubbleIframeUrlWithCachedJWTToken"
      [ngStyle]="iframeHiddenStyle$ | ngrxPush"
      class="bubble-iframe"
    ></iframe>
  </div>
</ng-template>
