<ion-content *transloco="let t">
  <ion-slides #slides pager>
    <ion-slide>
      <ng-container>
        <svg version="1.1" id="圖層_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" viewBox="0 0 359 639" enable-background="new 0 0 359 639" xml:space="preserve">
          <g id="Mdxwnq.tif">
            <image overflow="visible" width="359" height="639" id="Layer_0"
              xlink:href="/assets/image/tutorial-capture.png" transform="matrix(1 0 0 1 0 -0.7244)"></image>
          </g>
          <rect y="0" fill="none" width="359" height="639" />
          <text transform="matrix(1 0 0 1 99.8826 163.0703)" fill="#FFFFFF" font-family="'NotoSansCJKtc-Bold-B5pc-H'"
            font-size="24px">
            {{ t('viewMoments') }}
          </text>
          <text transform="matrix(1 0 0 1 67.4452 475.0788)" fill="#FFFFFF" font-family="'NotoSansCJKtc-Bold-B5pc-H'"
            font-size="24px">
            {{ t('captureMoments') }}
          </text>
        </svg>
      </ng-container>
      <button (click)="slides.slideNext()" mat-stroked-button>
        {{ t('next') }}
      </button>
    </ion-slide>
    <ion-slide>
      <ng-container>
        <svg version="1.1" id="圖層_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" viewBox="0 0 360 639" enable-background="new 0 0 360 639" xml:space="preserve">
          <g id="_x37_wnSn3.tif">
            <image overflow="visible" width="360" height="639" id="Layer_0" xlink:href="/assets/image/tutorial-tabs.png"
              transform="matrix(1.0048 0 0 1 -1.0098 -6.932185e-02)"></image>
          </g>
          <rect y="0" fill="none" width="360" height="639" />
          <text transform="matrix(1 0 0 1 107.5967 481.5746)" fill="#FFFFFF" font-family="'NotoSansCJKtc-Bold-B5pc-H'"
            font-size="24px">
            {{ t('switchPages') }}
          </text>
          <text transform="matrix(1 0 0 1 163.2176 244.5042)" fill="#FFFFFF" font-family="'NotoSansCJKtc-Bold-B5pc-H'"
            font-size="24px">
            {{ t('newMessages') }}
          </text>
          <text transform="matrix(1 0 0 1 107.8657 47.2354)" fill="#FFFFFF" font-family="'NotoSansCJKtc-Bold-B5pc-H'"
            font-size="24px">
            {{ t('histories') }}
          </text>
        </svg>
      </ng-container>
      <button (click)="slides.slideNext()" mat-stroked-button>
        {{ t('next') }}
      </button>
    </ion-slide>
    <ion-slide>
      <ng-container>
        <svg version="1.1" id="圖層_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" viewBox="0 0 360 639" enable-background="new 0 0 360 639" xml:space="preserve">
          <g id="xRudo9.tif">
            <image overflow="visible" width="360" height="639" id="Layer_0"
              xlink:href="/assets/image/tutorial-post-capture.png"></image>
          </g>
          <rect y="0" fill="none" width="360" height="639" />
          <text transform="matrix(1 0 0 1 180.8422 114.877)" fill="#FFFFFF" font-family="'NotoSansCJKtc-Bold-B5pc-H'"
            font-size="24px">
            {{ t('moreActions') }}
          </text>
        </svg>
      </ng-container>
      <button routerLink="/home" mat-stroked-button>
        {{ t('start') }}
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>