<ion-content *transloco="let t">
  <div class="top-section">
    <ion-img src="/assets/images/icons/capture-rebrand-wordmark.svg"> </ion-img>
    <button *ngIf="!isLastSlide" (click)="skipSlides()" mat-stroked-button>
      {{ t('onboarding.skip') }}
    </button>
  </div>
  <ion-slides
    #slides
    [pager]="isLastSlide === false"
    (ionSlideDidChange)="ionSlideDidChange($event)"
  >
    <ion-slide>
      <img src="/assets/images/onboarding/image-1.jpeg" class="slide-image" />
      <div class="slide-text">
        <div class="title">{{ t('onboarding.slide1.title') }}</div>
        <div class="spacer"></div>
        <div class="subtitle">{{ t('onboarding.slide1.subtitle') }}</div>
      </div>
      <div class="mat-button-height-placeholder"></div>
    </ion-slide>
    <ion-slide>
      <img src="/assets/images/onboarding/image-2.jpeg" class="slide-image" />
      <div class="slide-text">
        <div class="title">{{ t('onboarding.slide2.title') }}</div>
        <div class="spacer"></div>
        <div class="subtitle">{{ t('onboarding.slide2.subtitle') }}</div>
      </div>
      <div class="mat-button-height-placeholder"></div>
    </ion-slide>
    <ion-slide>
      <img src="/assets/images/onboarding/image-3.jpeg" class="slide-image" />
      <div class="slide-text">
        <div class="title">{{ t('onboarding.slide3.title') }}</div>
        <div class="spacer"></div>
        <div class="subtitle">{{ t('onboarding.slide3.subtitle') }}</div>
      </div>
      <div class="mat-button-height-placeholder"></div>
    </ion-slide>
    <ion-slide>
      <img src="/assets/images/onboarding/image-4.jpeg" class="slide-image" />
      <div class="slide-text">
        <div class="title">{{ t('onboarding.slide4.title') }}</div>
        <div class="spacer"></div>
        <div class="subtitle">{{ t('onboarding.slide4.subtitle') }}</div>
      </div>
      <button
        routerLink="/home"
        color="primary"
        mat-raised-button
        class="explore-catpure"
      >
        {{ t('onboarding.exploreCapture') | uppercase }}
      </button>
    </ion-slide>
  </ion-slides>

  <div class="bottom-section"></div>
</ion-content>
