ion-content {
  ion-slides {
    --bullet-background-active: white;

    ion-slide {
      flex-direction: column;
      background-color: black;
      height: 100vh;

      svg {
        padding-top: 5vh;
        padding-bottom: 5vh;
      }

      button {
        position: absolute;
        bottom: 10px;
        right: 20px;
        color: white;
        font-size: 20px;
      }
    }
  }
}

.pagination-bullets {
  bottom: 16px;
}

.ios text {
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

@media (min-height: 750px) {
  .ios div {
    position: relative;
    width: 100%;
    padding: 30px;
    height: 90%;
  }
}
