.no-network-text {
  font-size: 18px;
  text-align: center;
}

.bubble-iframe {
  background-color: black;
  width: 100vw;
  /*  stylelint-disable-next-line declaration-colon-newline-after  */
  height: calc(
    100vh - var(--ion-safe-area-bottom) - var(--ion-safe-area-top) - 48px
  );
  border: 0;
}
