<mat-toolbar *transloco="let t">
  <app-capture-back-button></app-capture-back-button>
  <span> {{ 'home.editProfile.editProfile' | transloco }} </span>
</mat-toolbar>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
    <ng-container *ngIf="formIsReady">
      <app-image-input-form
        [placeholderText]="'home.editProfile.profilePicture' | transloco"
        [imagePreview]="avatar$ | async"
        (imageSelected)="onProfileImageSelected($event)"
      ></app-image-input-form>
      <app-image-input-form
        [placeholderText]="'home.editProfile.profileBackground' | transloco"
        [imagePreview]="background$ | async"
        (imageSelected)="onProfileBackgroundSelected($event)"
      ></app-image-input-form>
    </ng-container>
  </form>
</ion-content>

<ion-footer>
  <ion-button
    type="submit"
    [disabled]="
      !form.valid || !form.dirty || (networkConnected$ | async) === false
    "
    expand="full"
    shape="round"
    (click)="onSubmit()"
  >
    {{
      (networkConnected$ | async) === true
        ? ('home.editProfile.saveChanges' | transloco | uppercase)
        : ('message.networkNotConnected' | transloco | uppercase)
    }}
  </ion-button>
</ion-footer>
