<div *transloco="let t" class="page-content">
  <div class="logo">
    <img decoding="async" loading="lazy" src="/assets/images/capture.svg" />
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
    <span
      class="mat-caption"
      [innerHTML]="t('message.clickingSignupToAgreePolicy')"
    ></span>
    <button
      type="submit"
      [disabled]="!form.valid"
      mat-flat-button
      color="primary"
    >
      {{ t('signup') }}
    </button>
  </form>

  <button
    routerLink="/login"
    [replaceUrl]="true"
    mat-stroked-button
    color="primary"
  >
    {{ t('alreadyHaveAnAccount') }}
  </button>
</div>
