<mat-toolbar color="primary" *transloco="let t">
  <button (click)="goBack()" routerDirection="back" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <!-- <span>{{ t('goProMediaDetailOnCamera') }}</span> -->
  <span>Detail On Camera</span>
</mat-toolbar>

<ion-content *transloco="let t">
  <div *ngIf="showTutorialForMobileDataOnlyApps === false">
    <ion-img
      *ngIf="mediaType === 'image'"
      [src]="mediaFile!.url"
      decoding="async"
      loading="lazy"
    ></ion-img>

    <div class="video-placeholder" (click)="playVideoFullScreen()">
      <div class="play-icon"></div>
      <ion-img
        [ngClass]="{ 'thumbnail-blurred': thumbnailBlurred }"
        *ngIf="mediaType === 'video'"
        [src]="mediaFile!.thumbnailUrl"
        decoding="async"
        loading="lazy"
      ></ion-img>
      <mat-icon class="play-icon">play_circle_outline</mat-icon>
    </div>

    <!-- TODO: keep until Q&A decides if they need blurred thumbnail or not -->
    <ion-item>
      <ion-checkbox slot="start" [(ngModel)]="thumbnailBlurred"></ion-checkbox>
      <ion-label>
        <h2>Blur image (remove after Q&A)</h2>
        <p>GoPro thumbnails come in low quality.</p>
      </ion-label>
    </ion-item>

    <div class="spacer"></div>
    <ion-button
      (click)="uploadToCapture()"
      expand="block"
      class="upload-to-capture-btn"
    >
      {{ t('gopro.uploadToCapture') }}
    </ion-button>
  </div>

  <ion-slides #slides pager *ngIf="showTutorialForMobileDataOnlyApps">
    <ion-slide>
      <ng-container>
        <svg
          version="1.1"
          id="圖層_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 360 639"
          enable-background="new 0 0 360 639"
          xml:space="preserve"
        >
          <image
            overflow="visible"
            width="360"
            height="639"
            xlink:href="/assets/images/go-pro/enable-mobile-only-apps-tutorial-for-android/1.png"
          ></image>
        </svg>
      </ng-container>
      <button (click)="slides.slideNext()" mat-stroked-button>
        {{ t('next') }}
      </button>
    </ion-slide>
    <ion-slide>
      <ng-container>
        <svg
          version="1.1"
          id="圖層_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 360 639"
          enable-background="new 0 0 360 639"
          xml:space="preserve"
        >
          <image
            overflow="visible"
            width="359"
            height="639"
            xlink:href="/assets/images/go-pro/enable-mobile-only-apps-tutorial-for-android/2.png"
          ></image>
        </svg>
      </ng-container>
      <button (click)="slides.slideNext()" mat-stroked-button>
        {{ t('next') }}
      </button>
    </ion-slide>
    <ion-slide>
      <ng-container>
        <svg
          version="1.1"
          id="圖層_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 360 639"
          enable-background="new 0 0 360 639"
          xml:space="preserve"
        >
          <image
            overflow="visible"
            width="360"
            height="639"
            xlink:href="/assets/images/go-pro/enable-mobile-only-apps-tutorial-for-android/3.png"
          ></image>
        </svg>
      </ng-container>
      <button (click)="slides.slideNext()" mat-stroked-button>
        {{ t('next') }}
      </button>
    </ion-slide>
    <ion-slide>
      <ng-container>
        <svg
          version="1.1"
          id="圖層_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 360 639"
          enable-background="new 0 0 360 639"
          xml:space="preserve"
        >
          <image
            overflow="visible"
            width="360"
            height="639"
            xlink:href="/assets/images/go-pro/enable-mobile-only-apps-tutorial-for-android/4.png"
          ></image>
        </svg>
      </ng-container>
      <button (click)="slides.slideNext()" mat-stroked-button>
        {{ t('next') }}
      </button>
    </ion-slide>
    <ion-slide>
      <ng-container>
        <svg
          version="1.1"
          id="圖層_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 360 639"
          enable-background="new 0 0 360 639"
          xml:space="preserve"
        >
          <image
            overflow="visible"
            width="360"
            height="639"
            xlink:href="/assets/images/go-pro/enable-mobile-only-apps-tutorial-for-android/5.png"
          ></image>
        </svg>
      </ng-container>
      <button (click)="slides.slideNext()" mat-stroked-button>
        {{ t('next') }}
      </button>
    </ion-slide>
    <ion-slide>
      <ng-container>
        <svg
          version="1.1"
          id="圖層_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 360 639"
          enable-background="new 0 0 360 639"
          xml:space="preserve"
        >
          <image
            overflow="visible"
            width="360"
            height="639"
            xlink:href="/assets/images/go-pro/enable-mobile-only-apps-tutorial-for-android/6.png"
          ></image>
        </svg>
      </ng-container>
      <button (click)="slides.slideNext()" mat-stroked-button>
        {{ t('next') }}
      </button>
    </ion-slide>

    <ion-slide>
      <ion-item lines="none">
        <ion-checkbox
          [checked]="dontShowAgainTutorialForMobileDataOnlyApps"
          [(ngModel)]="dontShowAgainTutorialForMobileDataOnlyApps"
          slot="start"
        ></ion-checkbox>
        <ion-label color="light">Don't show again</ion-label>
      </ion-item>
      <button (click)="hideTutorialForMobileDataOnlyApps()" mat-stroked-button>
        {{ t('next') }}
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
