#wallet-icon-row {
  position: relative;
  width: 100%;

  #wallet-icon {
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-size: 48px;
  }
}

h4 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  color: black;
}

ion-button {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
