/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
// @import "~@ionic/angular/css/padding.css";
// @import "~@ionic/angular/css/float-elements.css";
// @import "~@ionic/angular/css/text-alignment.css";
// @import "~@ionic/angular/css/text-transformation.css";
// @import "~@ionic/angular/css/flex-utils.css";

/* Swiper */
@import '~swiper/swiper.scss';

html {
  --ion-safe-area-top: env(safe-area-inset-top);
  --ion-safe-area-bottom: env(safe-area-inset-bottom);
  --ion-safe-area-left: env(safe-area-inset-left);
  --ion-safe-area-right: env(safe-area-inset-right);
}

body {
  width: 100vw;
  height: 100vh;
}

.ios-bottom-safe-area {
  padding-bottom: var(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  background-color: var(--ion-color-primary);
}

ion-app {
  background-color: white;
  margin-top: env(safe-area-inset-top);
  margin-bottom: env(safe-area-inset-bottom);
}

.ion-page {
  color: var(--ion-text-color, black);
  background-color: var(--capture-color-dark-background, white);
}

.page-content {
  flex: 1 1 auto;
  overflow: auto;
}

body.dark .mat-toolbar {
  background-color: var(--ion-background-color);
  color: var(--ion-color-primary);
}

.details-page-options-menu-remove-button {
  span {
    color: #f33434;
  }
}

mat-toolbar.mat-toolbar {
  background-color: var(--ion-background-color);
  color: var(--ion-color-primary);
  min-height: 56px;

  span {
    flex-grow: 1;
    text-align: center;
  }
}

mat-tab-body {
  background-color: var(--capture-color-dark-background, white);
}

button.expand {
  width: calc(100vw - 16px);
  margin: 0 8px;
}

ion-button {
  text-transform: none;
}

.snackbar-error {
  background-color: #eb445a;

  .mat-simple-snackbar-action {
    color: white;
  }
}

@keyframes loading {
  0% {
    background-color: var(--loading-background-start);
  }

  100% {
    background-color: var(--loading-background-end);
  }
}

body.dark .mat-sidenav {
  background-color: var(--noir-primary);
}

body.dark .mat-dialog-container {
  background-color: var(--noir-primary);
}

body.dark .num-transfer-dialog mat-dialog-container {
  background-color: white;
}

body.dark .mat-card {
  background-color: var(--ion-color-light-shade);
}

body.dark .mat-tab-group {
  background-color: var(--ion-background-color);
}

.go-pro-alert-message-with img {
  width: 100%;
  height: 150px;
  border-radius: 4px;
  overflow: hidden;
  object-fit: cover;
  align-self: center;
}

.custom-camera-transparent-background {
  background-color: transparent;
}

// styling for ngx-joyride START
.joyride-step__container {
  border-radius: 15px;
  max-height: 200px;
}

.joyride-button {
  background-color: #0000d8 !important; /* stylelint-disable-line declaration-no-important */
  border-radius: 15px;
}

.joyride-step__close {
  display: none;
}

.joyride-step__header {
  padding: 0 8px 8px !important; /* stylelint-disable-line declaration-no-important */
}

.joyride-step__title {
  color: #0000d8 !important; /* stylelint-disable-line declaration-no-important */
}

.joyride-step__body {
  padding: 0 8px 10px !important; /* stylelint-disable-line declaration-no-important */
}
// styling for ngx-joyride END

.pintura-editor {
  --color-background: 0, 0, 0 !important; /* stylelint-disable-line declaration-no-important */
  --color-foreground: 255, 255, 255 !important; /* stylelint-disable-line declaration-no-important */
  --color-primary: #486cd9 !important; /* stylelint-disable-line declaration-no-important */
  --color-primary-dark: #1a80ec !important; /* stylelint-disable-line declaration-no-important */
  --color-primary-text: white !important; /* stylelint-disable-line declaration-no-important */
  --color-secondary: #03a9f4 !important; /* stylelint-disable-line declaration-no-important */
  --color-secondary-dark: #046bbf !important; /* stylelint-disable-line declaration-no-important */
  --color-preview-outline: 0, 0, 0 !important; /* stylelint-disable-line declaration-no-important */
}
