/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
// @import "~@ionic/angular/css/padding.css";
// @import "~@ionic/angular/css/float-elements.css";
// @import "~@ionic/angular/css/text-alignment.css";
// @import "~@ionic/angular/css/text-transformation.css";
// @import "~@ionic/angular/css/flex-utils.css";

/* Swiper */
@import '~swiper/swiper.scss';

html {
  background-color: var(--ion-color-primary);

  --ion-safe-area-top: env(safe-area-inset-top);
  --ion-safe-area-bottom: env(safe-area-inset-bottom);
  --ion-safe-area-left: env(safe-area-inset-left);
  --ion-safe-area-right: env(safe-area-inset-right);
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--ion-color-primary);
}

.ios-bottom-safe-area {
  padding-bottom: var(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  background-color: var(--ion-color-primary);
}

ion-app {
  background-color: white;
  margin-top: env(safe-area-inset-top);
  margin-bottom: env(safe-area-inset-bottom);
}

.ion-page {
  background-color: white;
}

.page-content {
  flex: 1 1 auto;
  overflow: auto;
}

mat-toolbar {
  min-height: 56px;

  span {
    flex-grow: 1;
    text-align: center;
  }
}

.mat-dialog-container {
  @media (prefers-color-scheme: dark) {
    background-color: var(--capture-color-dark-contrast);
    color: white;
  }

  @media (prefers-color-scheme: light) {
    background-color: white;
    color: black;
  }
}

.mat-form-field-wrapper {
  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

.mat-form-field-empty.mat-form-field-label {
  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

.mat-form-field-underline {
  @media (prefers-color-scheme: dark) {
    background-color: white;
  }
}

button.expand {
  width: calc(100vw - 16px);
  margin: 0 8px;
}

ion-button {
  text-transform: none;
}

.snackbar-error {
  background-color: #eb445a;

  .mat-simple-snackbar-action {
    color: white;
  }
}

@keyframes loading {
  0% {
    background-color: var(--loading-background-start);
  }

  100% {
    background-color: var(--loading-background-end);
  }
}
