<mat-toolbar color="primary" *transloco="let t">
  <ng-template [ngIf]="!multiSelectMode" [ngIfElse]="multiSelectBlock">
    <button (click)="goBack()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{ t('gopro.goProMediaOnCamera') }}</span>
  </ng-template>

  <ng-template #multiSelectBlock>
    <button (click)="exitMultiSelectMode()" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
    <span *ngIf="multiSelectMode">
      {{ t('gopro.filesSelected', { count: selectedGoProFiles.length }) }}
    </span>
  </ng-template>

  <button (click)="fetchFilesFromGoProWiFi()" mat-icon-button>
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<div class="wifi-state-container" *transloco="let t">
  <h4>{{ t('gopro.connectedWiFi') }}: {{ connectedWifiSSID }}</h4>

  <ion-button
    *ngIf="!isConnectedToGoProWifi"
    (click)="connectToGoProWifi()"
    class="connect-to-go-pro-wifi-btn"
  >
    {{ t('gopro.connectToGoProWiFi') }}
  </ion-button>

  <ion-button
    *ngIf="multiSelectMode"
    [disabled]="selectedGoProFiles.length === 0"
    (click)="uploadSelectedFiles()"
    class="multi-select-mode-btn"
  >
    {{ t('gopro.uploadToCapture') }}
  </ion-button>

  <!-- TODO: att translate text -->
  <h4 *ngIf="shouldConnectToWiFi" class="should-connect-to-wifi-text">
    {{ t('gopro.makeSureYouAreConnectedToGoProWiFiFirst') }}
  </h4>

  <h4 *ngIf="fetchingFilesError">
    {{ fetchingFilesError }}
    <br />
    {{ t('gopro.hintClickTheRefreshButtonAtTheTopRight') }}
  </h4>

  <h4 *ngIf="fetchingFiles">{{ t('gopro.fetchingFiles') }}...</h4>

  <span *ngIf="uploadInProgress" class="upload-in-progress-info">
    <ion-icon name="information-circle-outline"></ion-icon>
    {{
      t('gopro.stayOnThisScreenWithTheAppOpenToEnsureYourDownloadsAreComplete')
    }}
  </span>
</div>

<ng-template *transloco="let t">
  <app-go-pro-media-loading-bar
    *ngIf="uploadInProgress"
    [loadingText]="
      t('gopro.loadingFilesForUploadToCapture', {
        count: filesToUpload.length + 1
      })
    "
    (uploadCancel)="onUploadCancel()"
  ></app-go-pro-media-loading-bar>
</ng-template>

<ion-content
  [scrollEvents]="true"
  (ionScrollStart)="ionScrollStart()"
  (ionScrollEnd)="ionScrollEnd()"
>
  <div class="go-pro-container">
    <mat-grid-list cols="3" gutterSize="8px">
      <mat-grid-tile
        *ngFor="let mediaFile of allMediaFiles"
        class="go-pro-item"
      >
        <app-go-pro-media-list-item-on-camera
          ngxLongPress2
          (onLongPress)="enterMultiSelectMode(mediaFile)"
          (click)="onItemClick(mediaFile)"
          [mediaFile]="mediaFile"
          [selected]="isItemInSelectedList(mediaFile)"
        >
        </app-go-pro-media-list-item-on-camera>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</ion-content>
