mat-toolbar {
  background: white;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.page-content {
  padding-bottom: 16px;
}

button.center {
  display: block;
  margin: 0 auto;
}

.proof-image {
  width: 100%;
}
