<ng-container>
  <div [routerLink]="['series']" class="series-container">
    <div class="series-background">
      <div class="series-background">
        <div class="series-background">
          <div class="series-background">
            <div class="series-background">
              <div class="series-image">
                <img
                  src="https://material.angular.io/assets/img/examples/shiba1.jpg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
