<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549594343019-49t7tqres080fn4et4hgorchj90hnmm8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549594343019-49t7tqres080fn4et4hgorchj90hnmm8</string>
	<key>API_KEY</key>
	<string>AIzaSyApjeSlDKJhguBKz9YQ_gDTV_4cupHhWNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>549594343019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.numbersprotocol.capturelite</string>
	<key>PROJECT_ID</key>
	<string>capture-push-notification-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>capture-push-notification-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549594343019:ios:62dea8803dea04784b332e</string>
	<key>DATABASE_URL</key>
	<string>https://capture-push-notification-dev.firebaseio.com</string>
</dict>
</plist>