<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412240334546-pg4d0qdlf551c8kv0og9p0pc3h5l4d49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412240334546-pg4d0qdlf551c8kv0og9p0pc3h5l4d49</string>
	<key>API_KEY</key>
	<string>AIzaSyAzEMCCqSoruxRNY2athk0bP9KAUZqGSZs</string>
	<key>GCM_SENDER_ID</key>
	<string>412240334546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.numbersprotocol.capturelite.experiments.gopro</string>
	<key>PROJECT_ID</key>
	<string>capture-lite-gopro-experiment</string>
	<key>STORAGE_BUCKET</key>
	<string>capture-lite-gopro-experiment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412240334546:ios:2fa137d3a17a73ce5ea70b</string>
</dict>
</plist>