<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleDisplayName</key>
	<string>Capture</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>zh_TW</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.getcapacitor.capacitor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>capacitor</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Uses Bluetooth to connect and interact with GoPro or any other Bluetooth devices.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Uses Bluetooth to connect and interact with GoPro Camera</string>
	<key>NSCameraUsageDescription</key>
	<string>Grant camera permission to allow the app to take images and videos of the unique moments that you want to keep.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Grant GPS permission when the app is in use to allow the app to append location information to your photo automatically so that you or anyone who you share the photo with will know where the photo is taken.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Grant audio permission to take videos of the unique moments that you want to keep.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Grant permission to allow this app to save the photos and videos you take to the local storage.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Grant permission to allow the app to read the photos and videos you take by this app.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
    <!--  Set status bar text color to white START  -->
    <!--  soluiton from https://stackoverflow.com/a/66923836/6133329  -->
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleLightContent</string>
    <!--  Set status bar text color to white END  -->
    <key>NSUserTrackingUsageDescription</key>
    <string>We collect your data only for counting download numbers and will never share it with any 3rd party</string>
</dict>
</plist>
